# Milestone 3: Spark Analysis

## Objectives

1. Loading the dataset : 5%
2. Perform some simple cleaning: 30%
   - Column renaming: 10%
   - Detect missing: 35%
   - Handle missing: 35%
   - Check missing : 20%
3. Perform some analysis on the dataset: 30%
4. Add new columns with feature engineering: 15%
5. Encode categorical columns: 10%
6. Create a lookup table for encoding only: 5%
7. Saving Cleaned dataset and lookup table: 5%
8. Bonus: Saving the output into a postgres database: 5%

#### Importing the required libraries

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as fn
from pyspark.sql.functions import col, udf, lit, when, create_map, lag, lead
from pyspark.sql.types import StringType, IntegerType, FloatType, DoubleType, ArrayType, StructType, StructField, DateType
from pyspark.sql.window import Window
import psutil

#### Initialize the spark session

In [2]:
spark = SparkSession.builder.appName("milestone3").getOrCreate()
sc = spark.sparkContext

## Part 1: Load the dataset

In [3]:
df = spark.read.parquet("data/fintech_data_22_52_14669.parquet")

#### Print the schema of the dataset

In [4]:
df.printSchema()

root
 |-- Customer Id: string (nullable = true)
 |-- Emp Title: string (nullable = true)
 |-- Emp Length: string (nullable = true)
 |-- Home Ownership: string (nullable = true)
 |-- Annual Inc: double (nullable = true)
 |-- Annual Inc Joint: double (nullable = true)
 |-- Verification Status: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Addr State: string (nullable = true)
 |-- Avg Cur Bal: double (nullable = true)
 |-- Tot Cur Bal: double (nullable = true)
 |-- Loan Id: long (nullable = true)
 |-- Loan Status: string (nullable = true)
 |-- Loan Amount: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Funded Amount: double (nullable = true)
 |-- Term: string (nullable = true)
 |-- Int Rate: double (nullable = true)
 |-- Grade: long (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Pymnt Plan: boolean (nullable = true)
 |-- Type: string (nullable = true)
 |-- Purpose: string (nullable = true)
 |-- Description: string (nullable = true)

#### Display the first 20 rows of the dataset

In [5]:
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|      Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+
|YidceGZkXHgxZmtce...|         Lieutenant | 10+ years|      MORTGAGE|  200000.0|            NULL|    Source Verified|   117xx|        NY|    19404.0|   329872.0| 197838|    Current|    20000.0|   NY|      20000.0| 60 months|   0.124|    6|  19 August 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidUXHhhZlx4YTVcd...|Senior Film Manag...| 10+ years|      MORTGAGE|   63000.0|            NULL|           Verified|   441xx|        OH|     1946.0|    38927.0| 124597|    Current|    12000.0|   OH|      12000.0| 60 months|  0.0993|    7|17 November 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceGY5KUBceGVkX...|         Machinist 2|    1 year|           OWN|   30000.0|            NULL|           Verified|   972xx|        OR|    22762.0|   136571.0| 107933|Charged Off|    10750.0|   OR|      10750.0| 36 months|  0.1952|   23|   15 March 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|Yid3XHgwMVxyQVx4M...|    customer service| 10+ years|          RENT|   20000.0|            NULL|           Verified|   486xx|        MI|     1610.0|     9662.0|  63136|Charged Off|     8000.0|   MI|       8000.0| 36 months|  0.0789|    2|   15 March 2015|     false|Individual|       credit_card|Credit card refin...|
|YidceGFhXHgxMn5cb...|              Drivet|   2 years|          RENT|   48000.0|            NULL|    Source Verified|   334xx|        FL|     5341.0|    48069.0|  20511|    Current|     4200.0|   FL|       4200.0| 36 months|  0.0993|    8|17 December 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGVidFx4MWF4X...|          Cerologist|    1 year|          RENT|   39000.0|            NULL|    Source Verified|   806xx|        CO|     5328.0|    47949.0|  22353|    Current|     4500.0|   CO|       4500.0| 36 months|   0.139|   14|     19 May 2019|     false|Individual|       credit_card|Credit card refin...|
|YidceGRhXHhkNlx4M...|    Project Engineer| 10+ years|      MORTGAGE|  125000.0|            NULL|    Source Verified|   809xx|        CO|    31560.0|   347156.0| 192465|    Current|    20000.0|   CO|      20000.0| 36 months|  0.1147|   10|16 February 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidceGU1bFxuXHgwM...|                NULL|      NULL|      MORTGAGE|  190000.0|            NULL|           Verified|   857xx|        AZ|    69660.0|   766256.0| 238193| Fully Paid|    28675.0|   AZ|      28675.0| 36 months|  0.1049|    8|16 November 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidCVlx4YWZWZ1lce...|Multi-Media Accou...|  < 1 year|          RENT|   60000.0|            NULL|       Not Verified|   495xx|        MI|     4229.0|    38064.0|  24840|    Current|     5000.0|   MI|       5000.0| 36 months|  0.0735|    1|17 December 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidDXHgxOFx4ZDJce...|                  RN|  < 1 year|           OWN|  100000.0|            NULL|    Source Verified|   678xx|        KS|     9453.0|   170159.0| 101349|    Current|    10000.0|   KS|      10000.0| 60 months|  0.1399|   13|    15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDgyXHhjM1x4Y...|          superviser|   3 years|          RENT|   42000.0|            NULL|    Source Verified|   852xx|        AZ|    11353.0|    79468.0|  69356|    Current|     8000.0|   AZ|       8000.0| 36 months|  0.1899|   19|   16 March 2016|     false|DIRECT_PAY|debt_consolidation|  Debt consolidation|
|YidceGFmUDVceDg3X...|Assistant City Ma...|   5 years|      MORTGAGE|  166000.0|            NULL|           Verified|   785xx|        TX|     6075.0|    78981.0| 176960| Fully Paid|    18000.0|   TX|      18000.0| 36 months|  0.0762|    1| 13 October 2013|     false|INDIVIDUAL|  home_improvement|  Flooring and Paint|
|YidceDlmXHg5Mlx4Z...|Dispatcher and He...|  < 1 year|      MORTGAGE|   53000.0|            NULL|    Source Verified|   544xx|        WI|     4932.0|    64113.0| 232415| Fully Paid|    26500.0|   WI|      26500.0| 60 months|  0.2588|   27|16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGUyXHhjOTtce...|court room admini...| 10+ years|      MORTGAGE|   65000.0|            NULL|       Not Verified|   782xx|        TX|     4977.0|    49767.0|  91408|    Current|    10000.0|   TX|      10000.0| 36 months|    NULL|    7|   17 April 2017|     false|Individual|       credit_card|Credit card refin...|
|YidceGQxXHhjZH5ce...|supervisor civil ...| 10+ years|      MORTGAGE|  124535.0|            NULL|    Source Verified|   700xx|        LA|     9511.0|   361426.0|  11434|    Current|     3000.0|   LA|       3000.0| 36 months|  0.1505|   12| 18 January 2018|     false|Individual|       credit_card|Credit card refin...|
|YiJceDAxMVMuT1x4Y...|          pharmacist|    1 year|      MORTGAGE|  150000.0|            NULL|    Source Verified|   120xx|        NY|    29382.0|   499495.0| 244579|Charged Off|    30000.0|   NY|      30000.0| 60 months|  0.1269|   11|     15 May 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidaXHhkMVx4ODV3b...|   Regional  Manager|   3 years|          RENT|  110000.0|            NULL|       Not Verified|   662xx|        KS|     2377.0|    28527.0| 157431| Fully Paid|    15000.0|   KS|      15000.0| 60 months|  0.1602|   12| 18 January 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGRiXHg5MFx4Y...|    MACHINE OPERATOR| 10+ years|      MORTGAGE|   38500.0|            NULL|    Source Verified|   925xx|        CA|    23776.0|   166434.0| 129876|    Current|    12500.0|   CA|      12500.0| 36 months|  0.0796|    4|     18 May 2018|     false|Individual|           medical|    Medical expenses|
|YidOIlx4YzlceDA0X...|      Police officer| 10+ years|           OWN|   90000.0|            NULL|       Not Verified|   019xx|        MA|     1218.0|     6091.0|  25979| Fully Paid|     5000.0|   MA|       5000.0| 36 months|  0.0702|    1| 19 January 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YicjXHhiZFx4YWNce...|               owner|  < 1 year|      MORTGAGE|   85000.0|            NULL|    Source Verified|   070xx|        NJ|     3639.0|    29115.0| 224707| Fully Paid|    25000.0|   NJ|      25000.0| 36 months|  0.1274|   11| 17 January 2017|     false|Individual|debt_consolidation|  Debt consolidation|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [6]:
df.show(20, vertical=True)

-RECORD 0-----------------------------------
 Customer Id         | YidceGZkXHgxZmtce...
 Emp Title           | Lieutenant
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 200000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 117xx
 Addr State          | NY
 Avg Cur Bal         | 19404.0
 Tot Cur Bal         | 329872.0
 Loan Id             | 197838
 Loan Status         | Current
 Loan Amount         | 20000.0
 State               | NY
 Funded Amount       | 20000.0
 Term                |  60 months
 Int Rate            | 0.124
 Grade               | 6
 Issue Date          | 19 August 2019
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 1-----------------------------------
 Customer Id         | YidUXHhhZlx4YTVcd...
 Emp Title           | Senior Film Manag...
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 63000.0
 Annual Inc Joint    | NULL
 Verification Status | Verified
 Zip Code            | 441xx
 Addr State          | OH
 Avg Cur Bal         | 1946.0
 Tot Cur Bal         | 38927.0
 Loan Id             | 124597
 Loan Status         | Current
 Loan Amount         | 12000.0
 State               | OH
 Funded Amount       | 12000.0
 Term                |  60 months
 Int Rate            | 0.0993
 Grade               | 7
 Issue Date          | 17 November 2017
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 2-----------------------------------
 Customer Id         | YidceGY5KUBceGVkX...
 Emp Title           | Machinist 2
 Emp Length          | 1 year
 Home Ownership      | OWN
 Annual Inc          | 30000.0
 Annual Inc Joint    | NULL
 Verification Status | Verified
 Zip Code            | 972xx
 Addr State          | OR
 Avg Cur Bal         | 22762.0
 Tot Cur Bal         | 136571.0
 Loan Id             | 107933
 Loan Status         | Charged Off
 Loan Amount         | 10750.0
 State               | OR
 Funded Amount       | 10750.0
 Term                |  36 months
 Int Rate            | 0.1952
 Grade               | 23
 Issue Date          | 15 March 2015
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 3-----------------------------------
 Customer Id         | Yid3XHgwMVxyQVx4M...
 Emp Title           | customer service
 Emp Length          | 10+ years
 Home Ownership      | RENT
 Annual Inc          | 20000.0
 Annual Inc Joint    | NULL
 Verification Status | Verified
 Zip Code            | 486xx
 Addr State          | MI
 Avg Cur Bal         | 1610.0
 Tot Cur Bal         | 9662.0
 Loan Id             | 63136
 Loan Status         | Charged Off
 Loan Amount         | 8000.0
 State               | MI
 Funded Amount       | 8000.0
 Term                |  36 months
 Int Rate            | 0.0789
 Grade               | 2
 Issue Date          | 15 March 2015
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 4-----------------------------------
 Customer Id         | YidceGFhXHgxMn5cb...
 Emp Title           | Drivet
 Emp Length          | 2 years
 Home Ownership      | RENT
 Annual Inc          | 48000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 334xx
 Addr State          | FL
 Avg Cur Bal         | 5341.0
 Tot Cur Bal         | 48069.0
 Loan Id             | 20511
 Loan Status         | Current
 Loan Amount         | 4200.0
 State               | FL
 Funded Amount       | 4200.0
 Term                |  36 months
 Int Rate            | 0.0993
 Grade               | 8
 Issue Date          | 17 December 2017
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 5-----------------------------------
 Customer Id         | YidceGVidFx4MWF4X...
 Emp Title           | Cerologist
 Emp Length          | 1 year
 Home Ownership      | RENT
 Annual Inc          | 39000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 806xx
 Addr State          | CO
 Avg Cur Bal         | 5328.0
 Tot Cur Bal         | 47949.0
 Loan Id             | 22353
 Loan Status         | Current
 Loan Amount         | 4500.0
 State               | CO
 Funded Amount       | 4500.0
 Term                |  36 months
 Int Rate            | 0.139
 Grade               | 14
 Issue Date          | 19 May 2019
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 6-----------------------------------
 Customer Id         | YidceGRhXHhkNlx4M...
 Emp Title           | Project Engineer
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 125000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 809xx
 Addr State          | CO
 Avg Cur Bal         | 31560.0
 Tot Cur Bal         | 347156.0
 Loan Id             | 192465
 Loan Status         | Current
 Loan Amount         | 20000.0
 State               | CO
 Funded Amount       | 20000.0
 Term                |  36 months
 Int Rate            | 0.1147
 Grade               | 10
 Issue Date          | 16 February 2016
 Pymnt Plan          | false
 Type                | INDIVIDUAL
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 7-----------------------------------
 Customer Id         | YidceGU1bFxuXHgwM...
 Emp Title           | NULL
 Emp Length          | NULL
 Home Ownership      | MORTGAGE
 Annual Inc          | 190000.0
 Annual Inc Joint    | NULL
 Verification Status | Verified
 Zip Code            | 857xx
 Addr State          | AZ
 Avg Cur Bal         | 69660.0
 Tot Cur Bal         | 766256.0
 Loan Id             | 238193
 Loan Status         | Fully Paid
 Loan Amount         | 28675.0
 State               | AZ
 Funded Amount       | 28675.0
 Term                |  36 months
 Int Rate            | 0.1049
 Grade               | 8
 Issue Date          | 16 November 2016
 Pymnt Plan          | false
 Type                | INDIVIDUAL
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 8-----------------------------------
 Customer Id         | YidCVlx4YWZWZ1lce...
 Emp Title           | Multi-Media Accou...
 Emp Length          | < 1 year
 Home Ownership      | RENT
 Annual Inc          | 60000.0
 Annual Inc Joint    | NULL
 Verification Status | Not Verified
 Zip Code            | 495xx
 Addr State          | MI
 Avg Cur Bal         | 4229.0
 Tot Cur Bal         | 38064.0
 Loan Id             | 24840
 Loan Status         | Current
 Loan Amount         | 5000.0
 State               | MI
 Funded Amount       | 5000.0
 Term                |  36 months
 Int Rate            | 0.0735
 Grade               | 1
 Issue Date          | 17 December 2017
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 9-----------------------------------
 Customer Id         | YidDXHgxOFx4ZDJce...
 Emp Title           | RN
 Emp Length          | < 1 year
 Home Ownership      | OWN
 Annual Inc          | 100000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 678xx
 Addr State          | KS
 Avg Cur Bal         | 9453.0
 Tot Cur Bal         | 170159.0
 Loan Id             | 101349
 Loan Status         | Current
 Loan Amount         | 10000.0
 State               | KS
 Funded Amount       | 10000.0
 Term                |  60 months
 Int Rate            | 0.1399
 Grade               | 13
 Issue Date          | 15 July 2015
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 10----------------------------------
 Customer Id         | YidceDgyXHhjM1x4Y...
 Emp Title           | superviser
 Emp Length          | 3 years
 Home Ownership      | RENT
 Annual Inc          | 42000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 852xx
 Addr State          | AZ
 Avg Cur Bal         | 11353.0
 Tot Cur Bal         | 79468.0
 Loan Id             | 69356
 Loan Status         | Current
 Loan Amount         | 8000.0
 State               | AZ
 Funded Amount       | 8000.0
 Term                |  36 months
 Int Rate            | 0.1899
 Grade               | 19
 Issue Date          | 16 March 2016
 Pymnt Plan          | false
 Type                | DIRECT_PAY
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 11----------------------------------
 Customer Id         | YidceGFmUDVceDg3X...
 Emp Title           | Assistant City Ma...
 Emp Length          | 5 years
 Home Ownership      | MORTGAGE
 Annual Inc          | 166000.0
 Annual Inc Joint    | NULL
 Verification Status | Verified
 Zip Code            | 785xx
 Addr State          | TX
 Avg Cur Bal         | 6075.0
 Tot Cur Bal         | 78981.0
 Loan Id             | 176960
 Loan Status         | Fully Paid
 Loan Amount         | 18000.0
 State               | TX
 Funded Amount       | 18000.0
 Term                |  36 months
 Int Rate            | 0.0762
 Grade               | 1
 Issue Date          | 13 October 2013
 Pymnt Plan          | false
 Type                | INDIVIDUAL
 Purpose             | home_improvement
 Description         | Flooring and Paint
-RECORD 12----------------------------------
 Customer Id         | YidceDlmXHg5Mlx4Z...
 Emp Title           | Dispatcher and He...
 Emp Length          | < 1 year
 Home Ownership      | MORTGAGE
 Annual Inc          | 53000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 544xx
 Addr State          | WI
 Avg Cur Bal         | 4932.0
 Tot Cur Bal         | 64113.0
 Loan Id             | 232415
 Loan Status         | Fully Paid
 Loan Amount         | 26500.0
 State               | WI
 Funded Amount       | 26500.0
 Term                |  60 months
 Int Rate            | 0.2588
 Grade               | 27
 Issue Date          | 16 February 2016
 Pymnt Plan          | false
 Type                | INDIVIDUAL
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 13----------------------------------
 Customer Id         | YidceGUyXHhjOTtce...
 Emp Title           | court room admini...
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 65000.0
 Annual Inc Joint    | NULL
 Verification Status | Not Verified
 Zip Code            | 782xx
 Addr State          | TX
 Avg Cur Bal         | 4977.0
 Tot Cur Bal         | 49767.0
 Loan Id             | 91408
 Loan Status         | Current
 Loan Amount         | 10000.0
 State               | TX
 Funded Amount       | 10000.0
 Term                |  36 months
 Int Rate            | NULL
 Grade               | 7
 Issue Date          | 17 April 2017
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 14----------------------------------
 Customer Id         | YidceGQxXHhjZH5ce...
 Emp Title           | supervisor civil ...
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 124535.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 700xx
 Addr State          | LA
 Avg Cur Bal         | 9511.0
 Tot Cur Bal         | 361426.0
 Loan Id             | 11434
 Loan Status         | Current
 Loan Amount         | 3000.0
 State               | LA
 Funded Amount       | 3000.0
 Term                |  36 months
 Int Rate            | 0.1505
 Grade               | 12
 Issue Date          | 18 January 2018
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | credit_card
 Description         | Credit card refin...
-RECORD 15----------------------------------
 Customer Id         | YiJceDAxMVMuT1x4Y...
 Emp Title           | pharmacist
 Emp Length          | 1 year
 Home Ownership      | MORTGAGE
 Annual Inc          | 150000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 120xx
 Addr State          | NY
 Avg Cur Bal         | 29382.0
 Tot Cur Bal         | 499495.0
 Loan Id             | 244579
 Loan Status         | Charged Off
 Loan Amount         | 30000.0
 State               | NY
 Funded Amount       | 30000.0
 Term                |  60 months
 Int Rate            | 0.1269
 Grade               | 11
 Issue Date          | 15 May 2015
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 16----------------------------------
 Customer Id         | YidaXHhkMVx4ODV3b...
 Emp Title           | Regional  Manager
 Emp Length          | 3 years
 Home Ownership      | RENT
 Annual Inc          | 110000.0
 Annual Inc Joint    | NULL
 Verification Status | Not Verified
 Zip Code            | 662xx
 Addr State          | KS
 Avg Cur Bal         | 2377.0
 Tot Cur Bal         | 28527.0
 Loan Id             | 157431
 Loan Status         | Fully Paid
 Loan Amount         | 15000.0
 State               | KS
 Funded Amount       | 15000.0
 Term                |  60 months
 Int Rate            | 0.1602
 Grade               | 12
 Issue Date          | 18 January 2018
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 17----------------------------------
 Customer Id         | YidceGRiXHg5MFx4Y...
 Emp Title           | MACHINE OPERATOR
 Emp Length          | 10+ years
 Home Ownership      | MORTGAGE
 Annual Inc          | 38500.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 925xx
 Addr State          | CA
 Avg Cur Bal         | 23776.0
 Tot Cur Bal         | 166434.0
 Loan Id             | 129876
 Loan Status         | Current
 Loan Amount         | 12500.0
 State               | CA
 Funded Amount       | 12500.0
 Term                |  36 months
 Int Rate            | 0.0796
 Grade               | 4
 Issue Date          | 18 May 2018
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | medical
 Description         | Medical expenses
-RECORD 18----------------------------------
 Customer Id         | YidOIlx4YzlceDA0X...
 Emp Title           | Police officer
 Emp Length          | 10+ years
 Home Ownership      | OWN
 Annual Inc          | 90000.0
 Annual Inc Joint    | NULL
 Verification Status | Not Verified
 Zip Code            | 019xx
 Addr State          | MA
 Avg Cur Bal         | 1218.0
 Tot Cur Bal         | 6091.0
 Loan Id             | 25979
 Loan Status         | Fully Paid
 Loan Amount         | 5000.0
 State               | MA
 Funded Amount       | 5000.0
 Term                |  36 months
 Int Rate            | 0.0702
 Grade               | 1
 Issue Date          | 19 January 2019
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
-RECORD 19----------------------------------
 Customer Id         | YicjXHhiZFx4YWNce...
 Emp Title           | owner
 Emp Length          | < 1 year
 Home Ownership      | MORTGAGE
 Annual Inc          | 85000.0
 Annual Inc Joint    | NULL
 Verification Status | Source Verified
 Zip Code            | 070xx
 Addr State          | NJ
 Avg Cur Bal         | 3639.0
 Tot Cur Bal         | 29115.0
 Loan Id             | 224707
 Loan Status         | Fully Paid
 Loan Amount         | 25000.0
 State               | NJ
 Funded Amount       | 25000.0
 Term                |  36 months
 Int Rate            | 0.1274
 Grade               | 11
 Issue Date          | 17 January 2017
 Pymnt Plan          | false
 Type                | Individual
 Purpose             | debt_consolidation
 Description         | Debt consolidation
only showing top 20 rows

#### How many partitions is this dataframe split into?

- Number of partitions: 1

In [7]:
number_of_partitions = df.rdd.getNumPartitions()
print(f"Number of partitions: {number_of_partitions}")

Number of partitions: 1

#### Number of my logical cores

In [8]:
logical_cores = psutil.cpu_count(logical=True)
print(f"Logical cores: {logical_cores}")

physical_cores = psutil.cpu_count(logical=False)
print(f"Physical cores: {physical_cores}")

Logical cores: 16
Physical cores: 8

#### Change partitions to be equal to the logical cores

In [9]:
df = df.repartition(logical_cores)

number_of_partitions = df.rdd.getNumPartitions()
print(f"Number of partitions: {number_of_partitions}")

Number of partitions: 16

## Part 2: Cleaning

#### Rename all columns (replacing a space with an underscore, and making it lowercase)

In [10]:
def rename_columns(df): 
    """
    Renames the columns of a DataFrame by converting them to lowercase, 
    stripping leading and trailing whitespace, replacing spaces with underscores, 
    and removing any non-alphanumeric characters except underscores.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose columns need to be renamed.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with renamed columns.
    Example:
        >>> df = spark.createDataFrame([(1, 2)], ["Column A", "Column B"])
        >>> df = rename_columns(df)
        >>> df.columns
        ['column_a', 'column_b']
    """
    new_columns = {}
    for column in df.columns:
        new_column = column.lower().strip().replace(" ", "_")
        new_column = ''.join(e for e in new_column if e.isalnum() or e == '_')
        new_columns[column] = new_column

    for column in new_columns:
        df = df.withColumnRenamed(column, new_columns[column])

    print(f"Columns renamed: {new_columns}")

    return df

df = rename_columns(df)

Columns renamed: {'Customer Id': 'customer_id', 'Emp Title': 'emp_title', 'Emp Length': 'emp_length', 'Home Ownership': 'home_ownership', 'Annual Inc': 'annual_inc', 'Annual Inc Joint': 'annual_inc_joint', 'Verification Status': 'verification_status', 'Zip Code': 'zip_code', 'Addr State': 'addr_state', 'Avg Cur Bal': 'avg_cur_bal', 'Tot Cur Bal': 'tot_cur_bal', 'Loan Id': 'loan_id', 'Loan Status': 'loan_status', 'Loan Amount': 'loan_amount', 'State': 'state', 'Funded Amount': 'funded_amount', 'Term': 'term', 'Int Rate': 'int_rate', 'Grade': 'grade', 'Issue Date': 'issue_date', 'Pymnt Plan': 'pymnt_plan', 'Type': 'type', 'Purpose': 'purpose', 'Description': 'description'}

In [11]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- avg_cur_bal: double (nullable = true)
 |-- tot_cur_bal: double (nullable = true)
 |-- loan_id: long (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_amount: double (nullable = true)
 |-- state: string (nullable = true)
 |-- funded_amount: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- grade: long (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- pymnt_plan: boolean (nullable = true)
 |-- type: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- description: string (nullable = true)

#### Detect Missing Values

In [12]:
def calculate_missing_percentages(df):
    """
    Calculates the percentage of missing values in each column of a DataFrame.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose missing values need to be calculated.
    Returns:
        dict: A dictionary containing the column names as keys and the percentage of missing values as values.
    Example:
        >>> df = spark.createDataFrame([(None, 2)], ["Column A", "Column B"])
        >>> missing_percentages = calculate_missing_percentages(df)
        >>> missing_percentages
        {'Column A': 100.0, 'Column B': 0.0}
    """
    missing_percentages = {}
    total_rows = df.count()

    for column in df.columns:
        missing_rows = df.filter(fn.col(column).isNull()).count()
        missing_percentage = (missing_rows / total_rows) * 100
        missing_percentages[column] = missing_percentage

    print(f"Missing percentages calculated: {missing_percentages}")

    return missing_percentages

missing_percentages = calculate_missing_percentages(df)
missing_percentages

Missing percentages calculated: {'customer_id': 0.0, 'emp_title': 8.790233074361819, 'emp_length': 6.870144284128746, 'home_ownership': 0.0, 'annual_inc': 0.0, 'annual_inc_joint': 92.89678135405104, 'verification_status': 0.0, 'zip_code': 0.0, 'addr_state': 0.0, 'avg_cur_bal': 0.0, 'tot_cur_bal': 0.0, 'loan_id': 0.0, 'loan_status': 0.0, 'loan_amount': 0.0, 'state': 0.0, 'funded_amount': 0.0, 'term': 0.0, 'int_rate': 4.480207177210507, 'grade': 0.0, 'issue_date': 0.0, 'pymnt_plan': 0.0, 'type': 0.0, 'purpose': 0.0, 'description': 0.8065112837587864}

{'customer_id': 0.0,
 'emp_title': 8.790233074361819,
 'emp_length': 6.870144284128746,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 92.89678135405104,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 4.480207177210507,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.8065112837587864}

#### Handle Missing Values

In [13]:
def impute_with_arbitrary_value(df, column, value):
    """
    Imputes missing values in a column of a DataFrame with an arbitrary value.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose missing values need to be imputed.
        column (str): The name of the column to impute missing values.
        value (str, int, float): The arbitrary value to impute missing values.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with missing values imputed.
    Example:
        >>> df = spark.createDataFrame([(None, 2)], ["Column A", "Column B"])
        >>> df = imput_with_arbitrary_value(df, "Column A", 0)
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       0|       2|
        +--------+--------+
    """
    df = df.fillna(value, subset=[column])

    print(f"Missing values imputed in column '{column}' with value '{value}'")

    return df

def calculate_mode(df, column):
    """
    Calculates the mode of a column in a DataFrame.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose mode needs to be calculated.
        column (str): The name of the column to calculate the mode.
    Returns:
        str, int, float: The mode of the column.
    Example:
        >>> df = spark.createDataFrame([(1, 2), (1, 2), (2, 2)], ["Column A", "Column B"])
        >>> mode = calculate_mode(df, "Column A")
        >>> mode
        1
    """

    df_without_nulls = df.filter(fn.col(column).isNotNull())
    mode = df_without_nulls.groupBy(column).count().sort(fn.desc("count")).first()[column]

    return mode

def impute_with_mode(df, column):
    """
    Imputes missing values in a column of a DataFrame with the mode.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose missing values need to be imputed.
        column (str): The name of the column to impute missing values.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with missing values imputed.
    Example:
        >>> df = spark.createDataFrame([(None, 2), (1, 2), (1, 2)], ["Column A", "Column B"])
        >>> df = impute_with_mode(df, "Column A")
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       1|       2|
        |       1|       2|
        |       1|       2|
        +--------+--------+
    """
    mode = calculate_mode(df, column)
    df = df.fillna(mode, subset=[column])

    print(f"Missing values imputed in column '{column}' with mode '{mode}'")

    return df

# For numerical features replace with 0.
#  For categorical/strings replace with mode
def handle_missing_values(df):
    """
    Handles missing values in a DataFrame by imputing with an arbitrary value or the mode.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame whose missing values need to be handled.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with missing values imputed.
    Example:
        >>> df = spark.createDataFrame([(None, 2), (1, 2), (1, 2)], ["Column A", "Column B"])
        >>> df = handle_missing_values(df)
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       0|       2|
        |       1|       2|
        |       1|       2|
        +--------+--------+
    """
    for column in df.columns:
        if df.filter(fn.col(column).isNull()).count() > 0:
            if df.schema[column].dataType in [StringType()]:
                df = impute_with_mode(df, column)
            else:
                df = impute_with_arbitrary_value(df, column, 0)

    return df

In [14]:
df_imputed = handle_missing_values(df)

Missing values imputed in column 'emp_title' with mode 'Teacher'
Missing values imputed in column 'emp_length' with mode '10+ years'
Missing values imputed in column 'annual_inc_joint' with value '0'
Missing values imputed in column 'int_rate' with value '0'
Missing values imputed in column 'description' with mode 'Debt consolidation'

#### Check Missing Values

In [15]:
calculate_missing_percentages(df_imputed)

Missing percentages calculated: {'customer_id': 0.0, 'emp_title': 0.0, 'emp_length': 0.0, 'home_ownership': 0.0, 'annual_inc': 0.0, 'annual_inc_joint': 0.0, 'verification_status': 0.0, 'zip_code': 0.0, 'addr_state': 0.0, 'avg_cur_bal': 0.0, 'tot_cur_bal': 0.0, 'loan_id': 0.0, 'loan_status': 0.0, 'loan_amount': 0.0, 'state': 0.0, 'funded_amount': 0.0, 'term': 0.0, 'int_rate': 0.0, 'grade': 0.0, 'issue_date': 0.0, 'pymnt_plan': 0.0, 'type': 0.0, 'purpose': 0.0, 'description': 0.0}

{'customer_id': 0.0,
 'emp_title': 0.0,
 'emp_length': 0.0,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'annual_inc_joint': 0.0,
 'verification_status': 0.0,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'avg_cur_bal': 0.0,
 'tot_cur_bal': 0.0,
 'loan_id': 0.0,
 'loan_status': 0.0,
 'loan_amount': 0.0,
 'state': 0.0,
 'funded_amount': 0.0,
 'term': 0.0,
 'int_rate': 0.0,
 'grade': 0.0,
 'issue_date': 0.0,
 'pymnt_plan': 0.0,
 'type': 0.0,
 'purpose': 0.0,
 'description': 0.0}

In [16]:
def check_missing_values(df):
    """
    Checks for missing values in a DataFrame.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame to check for missing values.
    Returns:
        bool: True if there are missing values, False otherwise.
    Example:
        >>> df = spark.createDataFrame([(1, 2), (1, None)], ["Column A", "Column B"])
        >>> check_missing_values(df)
        True
    """
    missing_values_dict = {column: df.filter(fn.col(column).isNull()).count() for column in df.columns}

    for column, missing_values in missing_values_dict.items():
        print(f"Column '{column}' has {missing_values} missing values")

check_missing_values(df_imputed)

Column 'customer_id' has 0 missing values
Column 'emp_title' has 0 missing values
Column 'emp_length' has 0 missing values
Column 'home_ownership' has 0 missing values
Column 'annual_inc' has 0 missing values
Column 'annual_inc_joint' has 0 missing values
Column 'verification_status' has 0 missing values
Column 'zip_code' has 0 missing values
Column 'addr_state' has 0 missing values
Column 'avg_cur_bal' has 0 missing values
Column 'tot_cur_bal' has 0 missing values
Column 'loan_id' has 0 missing values
Column 'loan_status' has 0 missing values
Column 'loan_amount' has 0 missing values
Column 'state' has 0 missing values
Column 'funded_amount' has 0 missing values
Column 'term' has 0 missing values
Column 'int_rate' has 0 missing values
Column 'grade' has 0 missing values
Column 'issue_date' has 0 missing values
Column 'pymnt_plan' has 0 missing values
Column 'type' has 0 missing values
Column 'purpose' has 0 missing values
Column 'description' has 0 missing values

In [17]:
df_imputed.show(20, vertical=True)

-RECORD 0-----------------------------------
 customer_id         | YidhaVIvXHhlMVx4Z...
 emp_title           | Owner/President
 emp_length          | 10+ years
 home_ownership      | MORTGAGE
 annual_inc          | 273800.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 730xx
 addr_state          | OK
 avg_cur_bal         | 26239.0
 tot_cur_bal         | 577250.0
 loan_id             | 261943
 loan_status         | Current
 loan_amount         | 35000.0
 state               | OK
 funded_amount       | 35000.0
 term                |  60 months
 int_rate            | 0.2499
 grade               | 29
 issue_date          | 14 October 2014
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | house
 description         | Home buying
-RECORD 1-----------------------------------
 customer_id         | Yic6XHg5ND5ceDEzY...
 emp_title           | Teacher
 emp_length          | 10+ years
 home_ownership      | OWN
 annual_inc          | 71000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 700xx
 addr_state          | LA
 avg_cur_bal         | 2120.0
 tot_cur_bal         | 21195.0
 loan_id             | 28829
 loan_status         | Current
 loan_amount         | 5000.0
 state               | LA
 funded_amount       | 5000.0
 term                |  36 months
 int_rate            | 0.1075
 grade               | 6
 issue_date          | 16 February 2016
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 2-----------------------------------
 customer_id         | YidceDFla1x4YTVxX...
 emp_title           | Contact Center Re...
 emp_length          | < 1 year
 home_ownership      | MORTGAGE
 annual_inc          | 31000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 890xx
 addr_state          | NV
 avg_cur_bal         | 21315.0
 tot_cur_bal         | 170516.0
 loan_id             | 114621
 loan_status         | Fully Paid
 loan_amount         | 11775.0
 state               | NV
 funded_amount       | 11775.0
 term                |  60 months
 int_rate            | 0.1655
 grade               | 19
 issue_date          | 15 December 2015
 pymnt_plan          | false
 type                | Individual
 purpose             | credit_card
 description         | Credit card refin...
-RECORD 3-----------------------------------
 customer_id         | YidceDkxXHg5MVx4O...
 emp_title           | Teacher
 emp_length          | 10+ years
 home_ownership      | OWN
 annual_inc          | 30000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 571xx
 addr_state          | SD
 avg_cur_bal         | 985.0
 tot_cur_bal         | 5911.0
 loan_id             | 25556
 loan_status         | Current
 loan_amount         | 5000.0
 state               | SD
 funded_amount       | 5000.0
 term                |  36 months
 int_rate            | 0.0646
 grade               | 2
 issue_date          | 19 August 2019
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 4-----------------------------------
 customer_id         | YidceGI0XG5ceDdmX...
 emp_title           | Professor of Poli...
 emp_length          | 7 years
 home_ownership      | MORTGAGE
 annual_inc          | 72000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 773xx
 addr_state          | TX
 avg_cur_bal         | 8979.0
 tot_cur_bal         | 134679.0
 loan_id             | 26179
 loan_status         | Fully Paid
 loan_amount         | 5000.0
 state               | TX
 funded_amount       | 5000.0
 term                |  36 months
 int_rate            | 0.0726
 grade               | 1
 issue_date          | 15 October 2015
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 5-----------------------------------
 customer_id         | YidceDlkXHgxYVx4O...
 emp_title           | Teacher
 emp_length          | 10+ years
 home_ownership      | MORTGAGE
 annual_inc          | 52541.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 287xx
 addr_state          | NC
 avg_cur_bal         | 2987.0
 tot_cur_bal         | 41819.0
 loan_id             | 167072
 loan_status         | Current
 loan_amount         | 16000.0
 state               | NC
 funded_amount       | 16000.0
 term                |  60 months
 int_rate            | 0.1261
 grade               | 13
 issue_date          | 18 May 2018
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 6-----------------------------------
 customer_id         | YidccihceGZiXHhmZ...
 emp_title           | Teacher
 emp_length          | 10+ years
 home_ownership      | OWN
 annual_inc          | 60000.0
 annual_inc_joint    | 0.0
 verification_status | Verified
 zip_code            | 110xx
 addr_state          | NY
 avg_cur_bal         | 5784.0
 tot_cur_bal         | 23135.0
 loan_id             | 92678
 loan_status         | Late (31-120 days)
 loan_amount         | 10000.0
 state               | NY
 funded_amount       | 10000.0
 term                |  36 months
 int_rate            | 0.1199
 grade               | 9
 issue_date          | 17 August 2017
 pymnt_plan          | false
 type                | Individual
 purpose             | car
 description         | Car financing
-RECORD 7-----------------------------------
 customer_id         | YidRXHgxYlx4Y2IyW...
 emp_title           | Technican
 emp_length          | 1 year
 home_ownership      | MORTGAGE
 annual_inc          | 100000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 225xx
 addr_state          | VA
 avg_cur_bal         | 59285.0
 tot_cur_bal         | 414996.0
 loan_id             | 132849
 loan_status         | Current
 loan_amount         | 13000.0
 state               | VA
 funded_amount       | 13000.0
 term                |  36 months
 int_rate            | 0.0756
 grade               | 4
 issue_date          | 18 December 2018
 pymnt_plan          | false
 type                | Individual
 purpose             | credit_card
 description         | Credit card refin...
-RECORD 8-----------------------------------
 customer_id         | YiJceGQ0XHhhMVx4Y...
 emp_title           | Unit Deployment M...
 emp_length          | 1 year
 home_ownership      | MORTGAGE
 annual_inc          | 57000.0
 annual_inc_joint    | 0.0
 verification_status | Verified
 zip_code            | 207xx
 addr_state          | MD
 avg_cur_bal         | 52483.0
 tot_cur_bal         | 314898.0
 loan_id             | 55249
 loan_status         | Current
 loan_amount         | 7000.0
 state               | MD
 funded_amount       | 7000.0
 term                |  36 months
 int_rate            | 0.1601
 grade               | 13
 issue_date          | 18 April 2018
 pymnt_plan          | false
 type                | Individual
 purpose             | other
 description         | Other
-RECORD 9-----------------------------------
 customer_id         | YidceDBmXHhmNVx4M...
 emp_title           | store manager
 emp_length          | 4 years
 home_ownership      | MORTGAGE
 annual_inc          | 52000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 936xx
 addr_state          | CA
 avg_cur_bal         | 12222.0
 tot_cur_bal         | 97773.0
 loan_id             | 22075
 loan_status         | Current
 loan_amount         | 4500.0
 state               | CA
 funded_amount       | 4500.0
 term                |  36 months
 int_rate            | 0.0993
 grade               | 6
 issue_date          | 17 August 2017
 pymnt_plan          | false
 type                | Individual
 purpose             | car
 description         | Car financing
-RECORD 10----------------------------------
 customer_id         | YidceDgyNXRceGRmN...
 emp_title           | Store Manager
 emp_length          | 7 years
 home_ownership      | MORTGAGE
 annual_inc          | 57000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 334xx
 addr_state          | FL
 avg_cur_bal         | 19950.0
 tot_cur_bal         | 199501.0
 loan_id             | 43761
 loan_status         | Fully Paid
 loan_amount         | 6000.0
 state               | FL
 funded_amount       | 6000.0
 term                |  36 months
 int_rate            | 0.1229
 grade               | 15
 issue_date          | 15 May 2015
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 11----------------------------------
 customer_id         | YidcdFx4MDR3XHg4N...
 emp_title           | Director of Asses...
 emp_length          | 10+ years
 home_ownership      | MORTGAGE
 annual_inc          | 100000.0
 annual_inc_joint    | 0.0
 verification_status | Verified
 zip_code            | 296xx
 addr_state          | SC
 avg_cur_bal         | 17251.0
 tot_cur_bal         | 172511.0
 loan_id             | 217051
 loan_status         | Current
 loan_amount         | 24000.0
 state               | SC
 funded_amount       | 24000.0
 term                |  36 months
 int_rate            | 0.1699
 grade               | 18
 issue_date          | 16 September 2016
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | home_improvement
 description         | Home improvement
-RECORD 12----------------------------------
 customer_id         | YiddXHhhOVx4Y2Zce...
 emp_title           | Journeyman
 emp_length          | 6 years
 home_ownership      | MORTGAGE
 annual_inc          | 105000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 980xx
 addr_state          | WA
 avg_cur_bal         | 41107.0
 tot_cur_bal         | 452182.0
 loan_id             | 166166
 loan_status         | Current
 loan_amount         | 16000.0
 state               | WA
 funded_amount       | 16000.0
 term                |  60 months
 int_rate            | 0.0734
 grade               | 5
 issue_date          | 18 April 2018
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 13----------------------------------
 customer_id         | YiJceDliPlx4OTBce...
 emp_title           | Lead Street Super...
 emp_length          | 10+ years
 home_ownership      | MORTGAGE
 annual_inc          | 85000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 804xx
 addr_state          | CO
 avg_cur_bal         | 23442.0
 tot_cur_bal         | 351635.0
 loan_id             | 38212
 loan_status         | Fully Paid
 loan_amount         | 5700.0
 state               | CO
 funded_amount       | 5700.0
 term                |  36 months
 int_rate            | 0.1229
 grade               | 14
 issue_date          | 15 May 2015
 pymnt_plan          | false
 type                | Individual
 purpose             | medical
 description         | Medical expenses
-RECORD 14----------------------------------
 customer_id         | YidceGIyXHhhYlx4M...
 emp_title           | Assistant to Seni...
 emp_length          | < 1 year
 home_ownership      | RENT
 annual_inc          | 42000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 105xx
 addr_state          | NY
 avg_cur_bal         | 3528.0
 tot_cur_bal         | 49396.0
 loan_id             | 53529
 loan_status         | Current
 loan_amount         | 7000.0
 state               | NY
 funded_amount       | 7000.0
 term                |  36 months
 int_rate            | 0.1075
 grade               | 8
 issue_date          | 16 February 2016
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 15----------------------------------
 customer_id         | YidceGFkXHhjM1x4Z...
 emp_title           | Lead Painter
 emp_length          | < 1 year
 home_ownership      | RENT
 annual_inc          | 40000.0
 annual_inc_joint    | 0.0
 verification_status | Verified
 zip_code            | 982xx
 addr_state          | WA
 avg_cur_bal         | 2328.0
 tot_cur_bal         | 6985.0
 loan_id             | 72530
 loan_status         | Charged Off
 loan_amount         | 8500.0
 state               | WA
 funded_amount       | 8500.0
 term                |  36 months
 int_rate            | 0.1167
 grade               | 9
 issue_date          | 14 October 2014
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 16----------------------------------
 customer_id         | YidceGJjXHg5N0Nce...
 emp_title           | jeweler
 emp_length          | 10+ years
 home_ownership      | MORTGAGE
 annual_inc          | 51000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 430xx
 addr_state          | OH
 avg_cur_bal         | 12506.0
 tot_cur_bal         | 175085.0
 loan_id             | 81127
 loan_status         | Charged Off
 loan_amount         | 9800.0
 state               | OH
 funded_amount       | 9800.0
 term                |  36 months
 int_rate            | 0.1262
 grade               | 15
 issue_date          | 17 June 2017
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 17----------------------------------
 customer_id         | YiI1aXh1XHhiNnlce...
 emp_title           | manager
 emp_length          | < 1 year
 home_ownership      | MORTGAGE
 annual_inc          | 72000.0
 annual_inc_joint    | 0.0
 verification_status | Not Verified
 zip_code            | 871xx
 addr_state          | NM
 avg_cur_bal         | 21655.0
 tot_cur_bal         | 281521.0
 loan_id             | 170530
 loan_status         | Current
 loan_amount         | 16500.0
 state               | NM
 funded_amount       | 16500.0
 term                |  60 months
 int_rate            | 0.1299
 grade               | 12
 issue_date          | 14 October 2014
 pymnt_plan          | false
 type                | INDIVIDUAL
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 18----------------------------------
 customer_id         | YichXHhiM1x4ZDhce...
 emp_title           | Claims Analyst
 emp_length          | < 1 year
 home_ownership      | RENT
 annual_inc          | 34000.0
 annual_inc_joint    | 0.0
 verification_status | Source Verified
 zip_code            | 857xx
 addr_state          | AZ
 avg_cur_bal         | 2474.0
 tot_cur_bal         | 24738.0
 loan_id             | 97417
 loan_status         | Current
 loan_amount         | 10000.0
 state               | AZ
 funded_amount       | 10000.0
 term                |  36 months
 int_rate            | 0.1646
 grade               | 12
 issue_date          | 18 June 2018
 pymnt_plan          | false
 type                | Individual
 purpose             | debt_consolidation
 description         | Debt consolidation
-RECORD 19----------------------------------
 customer_id         | YidoW1x4ZjJuV1x4O...
 emp_title           | INFORMATICA ADMIN...
 emp_length          | < 1 year
 home_ownership      | MORTGAGE
 annual_inc          | 115000.0
 annual_inc_joint    | 0.0
 verification_status | Verified
 zip_code            | 708xx
 addr_state          | LA
 avg_cur_bal         | 3645.0
 tot_cur_bal         | 61967.0
 loan_id             | 241561
 loan_status         | Fully Paid
 loan_amount         | 30000.0
 state               | LA
 funded_amount       | 30000.0
 term                |  36 months
 int_rate            | 0.1099
 grade               | 7
 issue_date          | 15 May 2015
 pymnt_plan          | false
 type                | Individual
 purpose             | credit_card
 description         | Credit card refin...
only showing top 20 rows

## Creating Lookup Table for Encoding

In [18]:
lookup_table_schema = StructType([
    StructField("Column", StringType(), True),
    StructField("Original", StringType(), True),
    StructField("Encoded", StringType(), True)
])

lookup_table = spark.createDataFrame([], lookup_table_schema)

In [19]:
lookup_table.show()

+------+--------+-------+
|Column|Original|Encoded|
+------+--------+-------+
+------+--------+-------+

In [20]:
lookup_table.printSchema()

root
 |-- Column: string (nullable = true)
 |-- Original: string (nullable = true)
 |-- Encoded: string (nullable = true)

## Part 3: Encoding Columns

In [21]:
def label_encode(df, column, mapping, lookup_table):
    """
    Label encodes a categorical column in a DataFrame using a mapping.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame to label encode.
        column (str): The name of the column to label encode.
        mapping (dict): A dictionary containing the mapping of category to label.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with the column label encoded.
    Example:
        >>> df = spark.createDataFrame([(1, "A"), (2, "B"), (3, "A")], ["Column A", "Column B"])
        >>> mapping = {"A": 0, "B": 1}
        >>> df = label_encode(df, "Column B", mapping)
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       1|       0|
        |       2|       1|
        |       3|       0|
        +--------+--------+
    """
    mapping = {key: float(value) for key, value in mapping.items()}
    mapping_expr = udf(lambda category: mapping[category], DoubleType())
    df = df.withColumn(column, mapping_expr(fn.col(column)))
    
    print(f"Column '{column}' label encoded with mapping '{mapping}'")

    lookup_table = lookup_table.union(spark.createDataFrame([(column, key, value) for key, value in mapping.items()], lookup_table_schema))
    lookup_table = lookup_table.coalesce(16)

    print(f"Lookup table updated with column '{column}'")

    return df, lookup_table

In [23]:
emp_length_mapping = {
    '10+ years': 10,
    '9 years': 9,
    '8 years': 8,
    '7 years': 7,
    '6 years': 6,
    '5 years': 5,
    '4 years': 4,
    '3 years': 3,
    '2 years': 2,
    '1 year': 1,
    '< 1 year': 0.5
}

df_encoded, lookup_table = label_encode(df_imputed, "emp_length", emp_length_mapping, lookup_table)
df_encoded.show()

lookup_table.show()

Column 'emp_length' label encoded with mapping '{'10+ years': 10.0, '9 years': 9.0, '8 years': 8.0, '7 years': 7.0, '6 years': 6.0, '5 years': 5.0, '4 years': 4.0, '3 years': 3.0, '2 years': 2.0, '1 year': 1.0, '< 1 year': 0.5}'
Lookup table updated with column 'emp_length'
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|      MORTGAGE|  273800.0|             0.0|    Source Verified|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0|   OK|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|INDIVIDUAL|             house|         Home buying|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|           OWN|   71000.0|             0.0|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|      MORTGAGE|   31000.0|             0.0|       Not Verified|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0|   NV|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|Individual|       credit_card|Credit card refin...|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|           OWN|   30000.0|             0.0|    Source Verified|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0|   SD|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|      MORTGAGE|   72000.0|             0.0|    Source Verified|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0|   TX|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|      MORTGAGE|   52541.0|             0.0|       Not Verified|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0|   NC|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|           OWN|   60000.0|             0.0|           Verified|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0|   NY|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|Individual|               car|       Car financing|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|      MORTGAGE|  100000.0|             0.0|    Source Verified|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0|   VA|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|Individual|       credit_card|Credit card refin...|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|      MORTGAGE|   57000.0|             0.0|           Verified|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0|   MD|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|Individual|             other|               Other|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|      MORTGAGE|   52000.0|             0.0|       Not Verified|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|   CA|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|Individual|               car|       Car financing|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|      MORTGAGE|   57000.0|             0.0|       Not Verified|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0|   FL|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|      MORTGAGE|  100000.0|             0.0|           Verified|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0|   SC|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|INDIVIDUAL|  home_improvement|    Home improvement|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|      MORTGAGE|  105000.0|             0.0|       Not Verified|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0|   WA|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|      MORTGAGE|   85000.0|             0.0|       Not Verified|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|   CO|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|Individual|           medical|    Medical expenses|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|          RENT|   42000.0|             0.0|    Source Verified|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0|   NY|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|          RENT|   40000.0|             0.0|           Verified|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0|   WA|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|      MORTGAGE|   51000.0|             0.0|       Not Verified|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0|   OH|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|      MORTGAGE|   72000.0|             0.0|       Not Verified|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0|   NM|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|          RENT|   34000.0|             0.0|    Source Verified|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|   AZ|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|      MORTGAGE|  115000.0|             0.0|           Verified|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0|   LA|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|Individual|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

+----------+---------+-------+
|    Column| Original|Encoded|
+----------+---------+-------+
|emp_length|10+ years|   10.0|
|emp_length|  9 years|    9.0|
|emp_length|  8 years|    8.0|
|emp_length|  7 years|    7.0|
|emp_length|  6 years|    6.0|
|emp_length|  5 years|    5.0|
|emp_length|  4 years|    4.0|
|emp_length|  3 years|    3.0|
|emp_length|  2 years|    2.0|
|emp_length|   1 year|    1.0|
|emp_length| < 1 year|    0.5|
+----------+---------+-------+

In [25]:
df_encoded.select("home_ownership").distinct().show()
df_encoded.select("verification_status").distinct().show()
df_encoded.select("state").distinct().show()
df_encoded.select("type").distinct().show()
df_encoded.select("purpose").distinct().show()

+--------------+
|home_ownership|
+--------------+
|           OWN|
|          RENT|
|      MORTGAGE|
|           ANY|
+--------------+

+-------------------+
|verification_status|
+-------------------+
|           Verified|
|    Source Verified|
|       Not Verified|
+-------------------+

+-----+
|state|
+-----+
|   AZ|
|   SC|
|   LA|
|   MN|
|   NJ|
|   DC|
|   OR|
|   VA|
|   RI|
|   WY|
|   KY|
|   NH|
|   MI|
|   NV|
|   WI|
|   ID|
|   CA|
|   CT|
|   NE|
|   MT|
+-----+
only showing top 20 rows

+----------+
|      type|
+----------+
| Joint App|
|Individual|
|DIRECT_PAY|
|     JOINT|
|INDIVIDUAL|
+----------+

+------------------+
|           purpose|
+------------------+
|             other|
|    small_business|
|debt_consolidation|
|       credit_card|
|            moving|
|          vacation|
|  renewable_energy|
|             house|
|               car|
|    major_purchase|
|           medical|
|  home_improvement|
|           wedding|
+------------------+

Since there is inconsistency in the values of the columns, for example in type column Joint App and Joint will be mapped to Joint, DIRECT_PAY will be mapped to DIRECT_PAY, etc. We will encode the columns to have consistent values.

In [26]:
def mapping(df, column, mapping_dict):
    """
    Maps the values of a column in a DataFrame using a dictionary.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame to map values.
        column (str): The name of the column to map values.
        mapping_dict (dict): A dictionary containing the mapping of original values to new values.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with the column values mapped.
    Example:
        >>> df = spark.createDataFrame([(1, "A"), (2, "B"), (3, "A")], ["Column A", "Column B"])
        >>> mapping_dict = {"A": "X", "B": "Y"}
        >>> df = mapping(df, "Column B", mapping_dict)
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       1|       X|
        |       2|       Y|
        |       3|       X|
        +--------+--------+
    """

    mapping_expr = col(column)
    for old_value, new_value in mapping_dict.items():
        mapping_expr = when(col(column) == old_value, new_value).otherwise(mapping_expr)
    
    return df.withColumn(column, mapping_expr)

In [27]:
type_mapping = {
    "Joint App": "JOINT",
    "Individual": "INDIVIDUAL",
    "DIRECT_PAY": "DIRECT PAY",
}

df_encoded = mapping(df_encoded, "type", type_mapping)
df_encoded.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|      MORTGAGE|  273800.0|             0.0|    Source Verified|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0|   OK|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|INDIVIDUAL|             house|         Home buying|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|           OWN|   71000.0|             0.0|    Source Verified|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|      MORTGAGE|   31000.0|             0.0|       Not Verified|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0|   NV|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|           OWN|   30000.0|             0.0|    Source Verified|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0|   SD|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|      MORTGAGE|   72000.0|             0.0|    Source Verified|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0|   TX|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|      MORTGAGE|   52541.0|             0.0|       Not Verified|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0|   NC|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|           OWN|   60000.0|             0.0|           Verified|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0|   NY|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|INDIVIDUAL|               car|       Car financing|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|      MORTGAGE|  100000.0|             0.0|    Source Verified|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0|   VA|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|      MORTGAGE|   57000.0|             0.0|           Verified|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0|   MD|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|INDIVIDUAL|             other|               Other|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|      MORTGAGE|   52000.0|             0.0|       Not Verified|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|   CA|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|INDIVIDUAL|               car|       Car financing|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|      MORTGAGE|   57000.0|             0.0|       Not Verified|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0|   FL|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|      MORTGAGE|  100000.0|             0.0|           Verified|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0|   SC|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|INDIVIDUAL|  home_improvement|    Home improvement|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|      MORTGAGE|  105000.0|             0.0|       Not Verified|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0|   WA|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|      MORTGAGE|   85000.0|             0.0|       Not Verified|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|   CO|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|INDIVIDUAL|           medical|    Medical expenses|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|          RENT|   42000.0|             0.0|    Source Verified|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0|   NY|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|          RENT|   40000.0|             0.0|           Verified|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0|   WA|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|      MORTGAGE|   51000.0|             0.0|       Not Verified|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0|   OH|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|      MORTGAGE|   72000.0|             0.0|       Not Verified|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0|   NM|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|          RENT|   34000.0|             0.0|    Source Verified|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|   AZ|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|      MORTGAGE|  115000.0|             0.0|           Verified|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0|   LA|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|INDIVIDUAL|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [28]:
df_encoded.select("type").distinct().show()

+----------+
|      type|
+----------+
|DIRECT PAY|
|     JOINT|
|INDIVIDUAL|
+----------+

#### The values in the type column are consistent, so we can encode them

In [30]:
def clean_column_name(column):
    """
    Cleans a column name by converting it to lowercase, stripping leading and trailing whitespace, 
    replacing spaces with underscores, and removing any non-alphanumeric characters except underscores.
    Args:
        column (str): The column name to clean.
    Returns:
        str: The cleaned column name.
    Example:
        >>> clean_column_name("  Column A  ")
        'column_a'
    """
    column = column.lower().strip().replace(" ", "_")
    column = ''.join(e for e in column if e.isalnum() or e == '_')

    return column


def one_hot_encode(df, column):
    """
    One-hot encodes the specified column in the given DataFrame.
    Parameters:
    df (pyspark.sql.DataFrame): The input DataFrame.
    column (str): The name of the column to be one-hot encoded.
    Returns:
    pyspark.sql.DataFrame: A new DataFrame with the specified column one-hot encoded and the original column dropped.
    Example:
    >>> df = spark.createDataFrame([(0, "a"), (1, "b"), (2, "a")], ["id", "category"])
    >>> one_hot_encoded_df = one_hot_encode(df, "category")
    >>> one_hot_encoded_df.show()
    +---+-------------+-------------+
    | id|category_a   |category_b   |
    +---+-------------+-------------+
    |  0|            1|            0|
    |  1|            0|            1|
    |  2|            1|            0|
    +---+-------------+-------------+
    """
    
    unique_values = df.select(column).distinct().rdd.flatMap(lambda x: x).collect()
    print(f"Unique values in column '{column}': {unique_values}")

    for value in unique_values:
        new_column_name = clean_column_name(column + "_" + str(value))
        df = df.withColumn(new_column_name, when(col(column) == value, 1).otherwise(0))

    df = df.drop(column)

    return df

#### Let's encode the following columns using one hot encoding:

    1. Home Ownership Column
    2. Verification Status Column
    3. Type Column

In [31]:
df_encoded = one_hot_encode(df_encoded, "home_ownership")
df_encoded = one_hot_encode(df_encoded, "verification_status")
df_encoded = one_hot_encode(df_encoded, "type")
df_encoded.show()

Unique values in column 'home_ownership': ['OWN', 'RENT', 'MORTGAGE', 'ANY']
Unique values in column 'verification_status': ['Verified', 'Source Verified', 'Not Verified']
Unique values in column 'type': ['DIRECT PAY', 'JOINT', 'INDIVIDUAL']
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|           purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|  273800.0|             0.0|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0|   OK|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|             house|         Home buying|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|   31000.0|             0.0|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0|   NV|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|   30000.0|             0.0|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0|   SD|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|   72000.0|             0.0|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0|   TX|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|   52541.0|             0.0|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0|   NC|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|   60000.0|             0.0|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0|   NY|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|               car|       Car financing|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|  100000.0|             0.0|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0|   VA|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|   57000.0|             0.0|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0|   MD|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|             other|               Other|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|   52000.0|             0.0|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|   CA|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|               car|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|   57000.0|             0.0|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0|   FL|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|  100000.0|             0.0|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0|   SC|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|  home_improvement|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|  105000.0|             0.0|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0|   WA|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|   85000.0|             0.0|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|   CO|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|           medical|    Medical expenses|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|   42000.0|             0.0|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0|   NY|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|   40000.0|             0.0|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0|   WA|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|   51000.0|             0.0|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0|   OH|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|   72000.0|             0.0|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0|   NM|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|   34000.0|             0.0|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|   AZ|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|  115000.0|             0.0|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0|   LA|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
only showing top 20 rows

In [32]:
def check_one_hot_encoding(df, columns):
    """
    Checks the one-hot encoding consistency for the specified columns in the given DataFrame.
    Parameters:
    df (pyspark.sql.DataFrame): The DataFrame to check for one-hot encoding.
    columns (list of str): The list of column prefixes to check for one-hot encoding.
    Returns:
    dict: A dictionary containing the count of ones, zeros, and total for each one-hot encoded column.
    Example:
    >>> df = spark.createDataFrame([(1, 0, 0), (0, 1, 0), (0, 0, 1)], ["A_1", "A_2", "A_3"])
    >>> check_one_hot_encoding(df, ["A"])
    One-hot encoded columns: ['A_1', 'A_2', 'A_3']
    One-hot encoding consistency: {'A_1_ones': 1, 'A_1_zeros': 2, 'A_1_total': 3, 'A_2_ones': 1, 'A_2_zeros': 2, 'A_2_total': 3, 'A_3_ones': 1, 'A_3_zeros': 2, 'A_3_total': 3}
    {'A_1_ones': 1, 'A_1_zeros': 2, 'A_1_total': 3, 'A_2_ones': 1, 'A_2_zeros': 2, 'A_2_total': 3, 'A_3_ones': 1, 'A_3_zeros': 2, 'A_3_total': 3}
    """

    one_hot_columns = []
    for column in columns:
        one_hot_columns += [col for col in df.columns if col.startswith(column + "_")]

    print(f"One-hot encoded columns: {one_hot_columns}")

    output_dict = {}
    for column in one_hot_columns:
        output_dict[column + "_ones"] = df.filter(fn.col(column) == 1).count()
        output_dict[column + "_zeros"] = df.filter(fn.col(column) == 0).count()
        output_dict[column + "_total"] = output_dict[column + "_ones"] + output_dict[column + "_zeros"]

    print(f"One-hot encoding consistency: {output_dict}")




    return output_dict

check_one_hot_encoding(df_encoded, ["home_ownership", "verification_status", "type"])

One-hot encoded columns: ['home_ownership_own', 'home_ownership_rent', 'home_ownership_mortgage', 'home_ownership_any', 'verification_status_verified', 'verification_status_source_verified', 'verification_status_not_verified', 'type_direct_pay', 'type_joint', 'type_individual']
One-hot encoding consistency: {'home_ownership_own_ones': 3127, 'home_ownership_own_zeros': 23903, 'home_ownership_own_total': 27030, 'home_ownership_rent_ones': 10517, 'home_ownership_rent_zeros': 16513, 'home_ownership_rent_total': 27030, 'home_ownership_mortgage_ones': 13349, 'home_ownership_mortgage_zeros': 13681, 'home_ownership_mortgage_total': 27030, 'home_ownership_any_ones': 37, 'home_ownership_any_zeros': 26993, 'home_ownership_any_total': 27030, 'verification_status_verified_ones': 6683, 'verification_status_verified_zeros': 20347, 'verification_status_verified_total': 27030, 'verification_status_source_verified_ones': 10606, 'verification_status_source_verified_zeros': 16424, 'verification_status_source_verified_total': 27030, 'verification_status_not_verified_ones': 9741, 'verification_status_not_verified_zeros': 17289, 'verification_status_not_verified_total': 27030, 'type_direct_pay_ones': 19, 'type_direct_pay_zeros': 27011, 'type_direct_pay_total': 27030, 'type_joint_ones': 1920, 'type_joint_zeros': 25110, 'type_joint_total': 27030, 'type_individual_ones': 25091, 'type_individual_zeros': 1939, 'type_individual_total': 27030}

{'home_ownership_own_ones': 3127,
 'home_ownership_own_zeros': 23903,
 'home_ownership_own_total': 27030,
 'home_ownership_rent_ones': 10517,
 'home_ownership_rent_zeros': 16513,
 'home_ownership_rent_total': 27030,
 'home_ownership_mortgage_ones': 13349,
 'home_ownership_mortgage_zeros': 13681,
 'home_ownership_mortgage_total': 27030,
 'home_ownership_any_ones': 37,
 'home_ownership_any_zeros': 26993,
 'home_ownership_any_total': 27030,
 'verification_status_verified_ones': 6683,
 'verification_status_verified_zeros': 20347,
 'verification_status_verified_total': 27030,
 'verification_status_source_verified_ones': 10606,
 'verification_status_source_verified_zeros': 16424,
 'verification_status_source_verified_total': 27030,
 'verification_status_not_verified_ones': 9741,
 'verification_status_not_verified_zeros': 17289,
 'verification_status_not_verified_total': 27030,
 'type_direct_pay_ones': 19,
 'type_direct_pay_zeros': 27011,
 'type_direct_pay_total': 27030,
 'type_joint_ones': 1920,
 'type_joint_zeros': 25110,
 'type_joint_total': 27030,
 'type_individual_ones': 25091,
 'type_individual_zeros': 1939,
 'type_individual_total': 27030}

#### Let's encode the following columns using label encoding based on the lexographical order:

    1. State Column
    2. Purpose Column

In [35]:
def label_encode_lexicographically(df, column, lookup_table):
    """
    Label encodes a categorical column in a DataFrame lexicographically.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame to label encode.
        column (str): The name of the column to label encode.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with the column label encoded.
    Example:
        >>> df = spark.createDataFrame([(1, "A"), (2, "B"), (3, "A")], ["Column A", "Column B"])
        >>> df = label_encode_lexicographically(df, "Column B")
        >>> df.show()
        +--------+--------+
        |Column A|Column B|
        +--------+--------+
        |       1|       0|
        |       2|       1|
        |       3|       0|
        +--------+--------+
    """
    categories = df.select(column).distinct().rdd.flatMap(lambda x: x).collect()
    categories.sort()

    mapping = {category: index + 1 for index, category in enumerate(categories)}
    
    print(f"Mapping for column '{column}': {mapping}")
    df, lookup_table = label_encode(df, column, mapping, lookup_table)

    return df, lookup_table

In [40]:
df_encoded, lookup_table = label_encode_lexicographically(df_encoded, "state", lookup_table)

Mapping for column 'state': {'AK': 1, 'AL': 2, 'AR': 3, 'AZ': 4, 'CA': 5, 'CO': 6, 'CT': 7, 'DC': 8, 'DE': 9, 'FL': 10, 'GA': 11, 'HI': 12, 'ID': 13, 'IL': 14, 'IN': 15, 'KS': 16, 'KY': 17, 'LA': 18, 'MA': 19, 'MD': 20, 'ME': 21, 'MI': 22, 'MN': 23, 'MO': 24, 'MS': 25, 'MT': 26, 'NC': 27, 'ND': 28, 'NE': 29, 'NH': 30, 'NJ': 31, 'NM': 32, 'NV': 33, 'NY': 34, 'OH': 35, 'OK': 36, 'OR': 37, 'PA': 38, 'RI': 39, 'SC': 40, 'SD': 41, 'TN': 42, 'TX': 43, 'UT': 44, 'VA': 45, 'VT': 46, 'WA': 47, 'WI': 48, 'WV': 49, 'WY': 50}
Column 'state' label encoded with mapping '{'AK': 1.0, 'AL': 2.0, 'AR': 3.0, 'AZ': 4.0, 'CA': 5.0, 'CO': 6.0, 'CT': 7.0, 'DC': 8.0, 'DE': 9.0, 'FL': 10.0, 'GA': 11.0, 'HI': 12.0, 'ID': 13.0, 'IL': 14.0, 'IN': 15.0, 'KS': 16.0, 'KY': 17.0, 'LA': 18.0, 'MA': 19.0, 'MD': 20.0, 'ME': 21.0, 'MI': 22.0, 'MN': 23.0, 'MO': 24.0, 'MS': 25.0, 'MT': 26.0, 'NC': 27.0, 'ND': 28.0, 'NE': 29.0, 'NH': 30.0, 'NJ': 31.0, 'NM': 32.0, 'NV': 33.0, 'NY': 34.0, 'OH': 35.0, 'OK': 36.0, 'OR': 37.0, 'PA': 38.0, 'RI': 39.0, 'SC': 40.0, 'SD': 41.0, 'TN': 42.0, 'TX': 43.0, 'UT': 44.0, 'VA': 45.0, 'VT': 46.0, 'WA': 47.0, 'WI': 48.0, 'WV': 49.0, 'WY': 50.0}'
Lookup table updated with column 'state'

In [41]:
df_encoded.show()
lookup_table.show(n=lookup_table.count(), truncate=False)

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|           purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|  273800.0|             0.0|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0| 36.0|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|             house|         Home buying|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0| 18.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|   31000.0|             0.0|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0| 33.0|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|   30000.0|             0.0|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0| 41.0|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|   72000.0|             0.0|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0| 43.0|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|   52541.0|             0.0|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0| 27.0|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|   60000.0|             0.0|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0| 34.0|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|               car|       Car financing|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|  100000.0|             0.0|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0| 45.0|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|   57000.0|             0.0|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0| 20.0|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|             other|               Other|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|   52000.0|             0.0|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|  5.0|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|               car|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|   57000.0|             0.0|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0| 10.0|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|  100000.0|             0.0|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0| 40.0|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|  home_improvement|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|  105000.0|             0.0|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0| 47.0|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|   85000.0|             0.0|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|  6.0|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|           medical|    Medical expenses|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|   42000.0|             0.0|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0| 34.0|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|   40000.0|             0.0|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0| 47.0|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|   51000.0|             0.0|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0| 35.0|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|   72000.0|             0.0|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0| 32.0|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|   34000.0|             0.0|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|  4.0|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|  115000.0|             0.0|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0| 18.0|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
only showing top 20 rows

+----------+---------+-------+
|Column    |Original |Encoded|
+----------+---------+-------+
|emp_length|10+ years|10.0   |
|emp_length|9 years  |9.0    |
|emp_length|8 years  |8.0    |
|emp_length|7 years  |7.0    |
|emp_length|6 years  |6.0    |
|emp_length|5 years  |5.0    |
|emp_length|4 years  |4.0    |
|emp_length|3 years  |3.0    |
|emp_length|2 years  |2.0    |
|emp_length|1 year   |1.0    |
|emp_length|< 1 year |0.5    |
|state     |AK       |1.0    |
|state     |AL       |2.0    |
|state     |AR       |3.0    |
|state     |AZ       |4.0    |
|state     |CA       |5.0    |
|state     |CO       |6.0    |
|state     |CT       |7.0    |
|state     |DC       |8.0    |
|state     |DE       |9.0    |
|state     |FL       |10.0   |
|state     |GA       |11.0   |
|state     |HI       |12.0   |
|state     |ID       |13.0   |
|state     |IL       |14.0   |
|state     |IN       |15.0   |
|state     |KS       |16.0   |
|state     |KY       |17.0   |
|state     |LA       |18.0   |
|state     |MA       |19.0   |
|state     |MD       |20.0   |
|state     |ME       |21.0   |
|state     |MI       |22.0   |
|state     |MN       |23.0   |
|state     |MO       |24.0   |
|state     |MS       |25.0   |
|state     |MT       |26.0   |
|state     |NC       |27.0   |
|state     |ND       |28.0   |
|state     |NE       |29.0   |
|state     |NH       |30.0   |
|state     |NJ       |31.0   |
|state     |NM       |32.0   |
|state     |NV       |33.0   |
|state     |NY       |34.0   |
|state     |OH       |35.0   |
|state     |OK       |36.0   |
|state     |OR       |37.0   |
|state     |PA       |38.0   |
|state     |RI       |39.0   |
|state     |SC       |40.0   |
|state     |SD       |41.0   |
|state     |TN       |42.0   |
|state     |TX       |43.0   |
|state     |UT       |44.0   |
|state     |VA       |45.0   |
|state     |VT       |46.0   |
|state     |WA       |47.0   |
|state     |WI       |48.0   |
|state     |WV       |49.0   |
|state     |WY       |50.0   |
+----------+---------+-------+

In [42]:
df_encoded, lookup_table = label_encode_lexicographically(df_encoded, "purpose", lookup_table)

Mapping for column 'purpose': {'car': 1, 'credit_card': 2, 'debt_consolidation': 3, 'home_improvement': 4, 'house': 5, 'major_purchase': 6, 'medical': 7, 'moving': 8, 'other': 9, 'renewable_energy': 10, 'small_business': 11, 'vacation': 12, 'wedding': 13}
Column 'purpose' label encoded with mapping '{'car': 1.0, 'credit_card': 2.0, 'debt_consolidation': 3.0, 'home_improvement': 4.0, 'house': 5.0, 'major_purchase': 6.0, 'medical': 7.0, 'moving': 8.0, 'other': 9.0, 'renewable_energy': 10.0, 'small_business': 11.0, 'vacation': 12.0, 'wedding': 13.0}'
Lookup table updated with column 'purpose'

In [43]:
df_encoded.show()
lookup_table.show(n=lookup_table.count(), truncate=False)

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|  273800.0|             0.0|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0| 36.0|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|    5.0|         Home buying|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0| 18.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|   31000.0|             0.0|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0| 33.0|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|   30000.0|             0.0|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0| 41.0|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|   72000.0|             0.0|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0| 43.0|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|   52541.0|             0.0|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0| 27.0|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|   60000.0|             0.0|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0| 34.0|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|    1.0|       Car financing|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|  100000.0|             0.0|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0| 45.0|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|   57000.0|             0.0|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0| 20.0|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|    9.0|               Other|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|   52000.0|             0.0|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|  5.0|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|    1.0|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|   57000.0|             0.0|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0| 10.0|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|  100000.0|             0.0|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0| 40.0|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|    4.0|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|  105000.0|             0.0|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0| 47.0|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|   85000.0|             0.0|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|  6.0|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|    7.0|    Medical expenses|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|   42000.0|             0.0|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0| 34.0|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|   40000.0|             0.0|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0| 47.0|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|   51000.0|             0.0|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0| 35.0|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|   72000.0|             0.0|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0| 32.0|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|   34000.0|             0.0|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|  4.0|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|  115000.0|             0.0|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0| 18.0|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+
only showing top 20 rows

+----------+------------------+-------+
|Column    |Original          |Encoded|
+----------+------------------+-------+
|emp_length|10+ years         |10.0   |
|emp_length|9 years           |9.0    |
|emp_length|8 years           |8.0    |
|emp_length|7 years           |7.0    |
|emp_length|6 years           |6.0    |
|emp_length|5 years           |5.0    |
|emp_length|4 years           |4.0    |
|emp_length|3 years           |3.0    |
|emp_length|2 years           |2.0    |
|emp_length|1 year            |1.0    |
|emp_length|< 1 year          |0.5    |
|state     |AK                |1.0    |
|state     |AL                |2.0    |
|state     |AR                |3.0    |
|state     |AZ                |4.0    |
|state     |CA                |5.0    |
|state     |CO                |6.0    |
|state     |CT                |7.0    |
|state     |DC                |8.0    |
|state     |DE                |9.0    |
|state     |FL                |10.0   |
|state     |GA                |11.0   |
|state     |HI                |12.0   |
|state     |ID                |13.0   |
|state     |IL                |14.0   |
|state     |IN                |15.0   |
|state     |KS                |16.0   |
|state     |KY                |17.0   |
|state     |LA                |18.0   |
|state     |MA                |19.0   |
|state     |MD                |20.0   |
|state     |ME                |21.0   |
|state     |MI                |22.0   |
|state     |MN                |23.0   |
|state     |MO                |24.0   |
|state     |MS                |25.0   |
|state     |MT                |26.0   |
|state     |NC                |27.0   |
|state     |ND                |28.0   |
|state     |NE                |29.0   |
|state     |NH                |30.0   |
|state     |NJ                |31.0   |
|state     |NM                |32.0   |
|state     |NV                |33.0   |
|state     |NY                |34.0   |
|state     |OH                |35.0   |
|state     |OK                |36.0   |
|state     |OR                |37.0   |
|state     |PA                |38.0   |
|state     |RI                |39.0   |
|state     |SC                |40.0   |
|state     |SD                |41.0   |
|state     |TN                |42.0   |
|state     |TX                |43.0   |
|state     |UT                |44.0   |
|state     |VA                |45.0   |
|state     |VT                |46.0   |
|state     |WA                |47.0   |
|state     |WI                |48.0   |
|state     |WV                |49.0   |
|state     |WY                |50.0   |
|purpose   |car               |1.0    |
|purpose   |credit_card       |2.0    |
|purpose   |debt_consolidation|3.0    |
|purpose   |home_improvement  |4.0    |
|purpose   |house             |5.0    |
|purpose   |major_purchase    |6.0    |
|purpose   |medical           |7.0    |
|purpose   |moving            |8.0    |
|purpose   |other             |9.0    |
|purpose   |renewable_energy  |10.0   |
|purpose   |small_business    |11.0   |
|purpose   |vacation          |12.0   |
|purpose   |wedding           |13.0   |
+----------+------------------+-------+

In [46]:
def discretize_grade_to_letter_grade(df, column):

    df = df.withColumn(
        "letter_grade",
        when(col(column).between(1, 5), "A")
        .when(col(column).between(6, 10), "B")
        .when(col(column).between(11, 15), "C")
        .when(col(column).between(16, 20), "D")
        .when(col(column).between(21, 25), "E")
        .when(col(column).between(26, 30), "F")
        .when(col(column).between(31, 35), "G")
        .otherwise("None")
    )

    print(f"Column '{column}' discretized to 'letter_grade'")

    return df

In [47]:
df_encoded = discretize_grade_to_letter_grade(df_encoded, "grade")

Column 'grade' discretized to 'letter_grade'

In [48]:
df_encoded.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|  273800.0|             0.0|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0| 36.0|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|    5.0|         Home buying|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           F|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0| 18.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|   31000.0|             0.0|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0| 33.0|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           D|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|   30000.0|             0.0|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0| 41.0|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|   72000.0|             0.0|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0| 43.0|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|   52541.0|             0.0|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0| 27.0|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|   60000.0|             0.0|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0| 34.0|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|    1.0|       Car financing|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|  100000.0|             0.0|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0| 45.0|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|   57000.0|             0.0|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0| 20.0|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|    9.0|               Other|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           C|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|   52000.0|             0.0|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|  5.0|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|    1.0|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|   57000.0|             0.0|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0| 10.0|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|  100000.0|             0.0|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0| 40.0|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|    4.0|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           D|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|  105000.0|             0.0|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0| 47.0|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           A|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|   85000.0|             0.0|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|  6.0|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|    7.0|    Medical expenses|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|   42000.0|             0.0|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0| 34.0|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|   40000.0|             0.0|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0| 47.0|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|   51000.0|             0.0|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0| 35.0|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|   72000.0|             0.0|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0| 32.0|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|   34000.0|             0.0|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|  4.0|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           C|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|  115000.0|             0.0|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0| 18.0|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+
only showing top 20 rows

## Part 4: Feature Engineering

Write a function that adds the following 3 features to the dataset:

    - Previous loan issue date from the same grade
    - Previous Loan amount from the same grade
    - Previous loan date from the same state and grade combined
    - Previous loan amount from the same state and grade combined

#### Let's first standardize the date columns to have the same format and then convert them to date type columns

In [50]:
df_encoded.select("issue_date").distinct().show()

+-----------------+
|       issue_date|
+-----------------+
|17 September 2017|
|  16 October 2016|
|      18 May 2018|
| 19 December 2019|
|   19 August 2019|
| 15 December 2015|
|    14 April 2014|
|     16 June 2016|
|18 September 2018|
|  13 January 2013|
|  18 October 2018|
|   16 August 2016|
|     19 July 2019|
| 16 February 2016|
|  17 January 2017|
|     13 June 2013|
| 19 November 2019|
| 15 February 2015|
|  15 January 2015|
|  15 October 2015|
+-----------------+
only showing top 20 rows

In [51]:
def standardize_date(df, column):
    """
    Standardizes the date format of a specified column in a DataFrame to ISO format.
    Args:
        df (pyspark.sql.DataFrame): The input DataFrame containing the date column to be standardized.
        column (str): The name of the column in the DataFrame that contains the date values to be standardized.
    Returns:
        pyspark.sql.DataFrame: A new DataFrame with an additional column 'clean_date' containing the standardized date values in ISO format (yyyy-MM-dd).
    Example:
        df = standardize_date(df, 'date_column')
    """
    
    df = df.withColumn("clean_" + column, fn.to_date(fn.col(column), "dd MMMM yyyy"))

    print(f"Column '{column}' date format standardized to ISO format")

    return df

In [52]:
df_encoded = standardize_date(df_encoded, "issue_date")
df_encoded.show()

Column 'issue_date' date format standardized to ISO format
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|       loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|clean_issue_date|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+
|YidhaVIvXHhlMVx4Z...|     Owner/President|      10.0|  273800.0|             0.0|   730xx|        OK|    26239.0|   577250.0| 261943|           Current|    35000.0| 36.0|      35000.0| 60 months|  0.2499|   29|  14 October 2014|     false|    5.0|         Home buying|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           F|      2014-10-14|
|Yic6XHg5ND5ceDEzY...|             Teacher|      10.0|   71000.0|             0.0|   700xx|        LA|     2120.0|    21195.0|  28829|           Current|     5000.0| 18.0|       5000.0| 36 months|  0.1075|    6| 16 February 2016|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2016-02-16|
|YidceDFla1x4YTVxX...|Contact Center Re...|       0.5|   31000.0|             0.0|   890xx|        NV|    21315.0|   170516.0| 114621|        Fully Paid|    11775.0| 33.0|      11775.0| 60 months|  0.1655|   19| 15 December 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           D|      2015-12-15|
|YidceDkxXHg5MVx4O...|             Teacher|      10.0|   30000.0|             0.0|   571xx|        SD|      985.0|     5911.0|  25556|           Current|     5000.0| 41.0|       5000.0| 36 months|  0.0646|    2|   19 August 2019|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|      2019-08-19|
|YidceGI0XG5ceDdmX...|Professor of Poli...|       7.0|   72000.0|             0.0|   773xx|        TX|     8979.0|   134679.0|  26179|        Fully Paid|     5000.0| 43.0|       5000.0| 36 months|  0.0726|    1|  15 October 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|      2015-10-15|
|YidceDlkXHgxYVx4O...|             Teacher|      10.0|   52541.0|             0.0|   287xx|        NC|     2987.0|    41819.0| 167072|           Current|    16000.0| 27.0|      16000.0| 60 months|  0.1261|   13|      18 May 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|      2018-05-18|
|YidccihceGZiXHhmZ...|             Teacher|      10.0|   60000.0|             0.0|   110xx|        NY|     5784.0|    23135.0|  92678|Late (31-120 days)|    10000.0| 34.0|      10000.0| 36 months|  0.1199|    9|   17 August 2017|     false|    1.0|       Car financing|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2017-08-17|
|YidRXHgxYlx4Y2IyW...|          Technican |       1.0|  100000.0|             0.0|   225xx|        VA|    59285.0|   414996.0| 132849|           Current|    13000.0| 45.0|      13000.0| 36 months|  0.0756|    4| 18 December 2018|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           A|      2018-12-18|
|YiJceGQ0XHhhMVx4Y...|Unit Deployment M...|       1.0|   57000.0|             0.0|   207xx|        MD|    52483.0|   314898.0|  55249|           Current|     7000.0| 20.0|       7000.0| 36 months|  0.1601|   13|    18 April 2018|     false|    9.0|               Other|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           C|      2018-04-18|
|YidceDBmXHhmNVx4M...|       store manager|       4.0|   52000.0|             0.0|   936xx|        CA|    12222.0|    97773.0|  22075|           Current|     4500.0|  5.0|       4500.0| 36 months|  0.0993|    6|   17 August 2017|     false|    1.0|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2017-08-17|
|YidceDgyNXRceGRmN...|       Store Manager|       7.0|   57000.0|             0.0|   334xx|        FL|    19950.0|   199501.0|  43761|        Fully Paid|     6000.0| 10.0|       6000.0| 36 months|  0.1229|   15|      15 May 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|      2015-05-15|
|YidcdFx4MDR3XHg4N...|Director of Asses...|      10.0|  100000.0|             0.0|   296xx|        SC|    17251.0|   172511.0| 217051|           Current|    24000.0| 40.0|      24000.0| 36 months|  0.1699|   18|16 September 2016|     false|    4.0|    Home improvement|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           D|      2016-09-16|
|YiddXHhhOVx4Y2Zce...|          Journeyman|       6.0|  105000.0|             0.0|   980xx|        WA|    41107.0|   452182.0| 166166|           Current|    16000.0| 47.0|      16000.0| 60 months|  0.0734|    5|    18 April 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           A|      2018-04-18|
|YiJceDliPlx4OTBce...|Lead Street Super...|      10.0|   85000.0|             0.0|   804xx|        CO|    23442.0|   351635.0|  38212|        Fully Paid|     5700.0|  6.0|       5700.0| 36 months|  0.1229|   14|      15 May 2015|     false|    7.0|    Medical expenses|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|      2015-05-15|
|YidceGIyXHhhYlx4M...|Assistant to Seni...|       0.5|   42000.0|             0.0|   105xx|        NY|     3528.0|    49396.0|  53529|           Current|     7000.0| 34.0|       7000.0| 36 months|  0.1075|    8| 16 February 2016|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2016-02-16|
|YidceGFkXHhjM1x4Z...|        Lead Painter|       0.5|   40000.0|             0.0|   982xx|        WA|     2328.0|     6985.0|  72530|       Charged Off|     8500.0| 47.0|       8500.0| 36 months|  0.1167|    9|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2014-10-14|
|YidceGJjXHg5N0Nce...|             jeweler|      10.0|   51000.0|             0.0|   430xx|        OH|    12506.0|   175085.0|  81127|       Charged Off|     9800.0| 35.0|       9800.0| 36 months|  0.1262|   15|     17 June 2017|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|      2017-06-17|
|YiI1aXh1XHhiNnlce...|             manager|       0.5|   72000.0|             0.0|   871xx|        NM|    21655.0|   281521.0| 170530|           Current|    16500.0| 32.0|      16500.0| 60 months|  0.1299|   12|  14 October 2014|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           C|      2014-10-14|
|YichXHhiM1x4ZDhce...|      Claims Analyst|       0.5|   34000.0|             0.0|   857xx|        AZ|     2474.0|    24738.0|  97417|           Current|    10000.0|  4.0|      10000.0| 36 months|  0.1646|   12|     18 June 2018|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           C|      2018-06-18|
|YidoW1x4ZjJuV1x4O...|INFORMATICA ADMIN...|       0.5|  115000.0|             0.0|   708xx|        LA|     3645.0|    61967.0| 241561|        Fully Paid|    30000.0| 18.0|      30000.0| 36 months|  0.1099|    7|      15 May 2015|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2015-05-15|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+------------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+
only showing top 20 rows

#### check consistency of the date columns

In [53]:
df_encoded.select("issue_date", "clean_issue_date").show(50)

+----------------+----------------+
|      issue_date|clean_issue_date|
+----------------+----------------+
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|  13 August 2013|      2013-08-13|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
|16 December 2016|      2016-12-16|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
| 15 January 2015|      2015-01-15|
+----------------+----------------+
only showing top 50 rows

In [54]:
def feature_engineering(df, issue_date_column, grade_column, loan_amount_column, state_column):
    """
    Perform feature engineering on the given DataFrame by adding new columns that provide information
    about previous loan dates and amounts based on grade and state-grade combinations.
    Parameters:
    df (DataFrame): The input Spark DataFrame containing loan data.
    issue_date_column (str): The name of the column containing the issue date of the loans.
    grade_column (str): The name of the column containing the grade of the loans.
    loan_amount_column (str): The name of the column containing the loan amounts.
    state_column (str): The name of the column containing the state information.
    Returns:
    DataFrame: A new DataFrame with additional columns:
        - "prev_loan_date_same_grade": The issue date of the previous loan with the same grade.
        - "prev_loan_amount_same_grade": The amount of the previous loan with the same grade.
        - "prev_loan_date_same_state_grade": The issue date of the previous loan with the same state and grade.
        - "prev_loan_amount_same_state_grade": The amount of the previous loan with the same state and grade.
    """

    grade_window = Window.partitionBy(grade_column).orderBy(issue_date_column)

    df = df.withColumn("prev_loan_date_same_grade", fn.lag(issue_date_column, 1).over(grade_window))
    print(f"Previous loan issue date from the same grade is added")
    df.show()

    df = df.withColumn("prev_loan_amount_same_grade", fn.lag(loan_amount_column, 1).over(grade_window))
    print(f"Previous loan amount from the same grade is added")
    df.show()

    state_grade_window = Window.partitionBy(state_column, grade_column).orderBy(issue_date_column)

    df = df.withColumn("prev_loan_date_same_state_grade", lag(issue_date_column).over(state_grade_window))
    print(f"Previous loan issue date from the same state and grade is added")
    df.show()

    df = df.withColumn("prev_loan_amount_same_state_grade", lag(loan_amount_column).over(state_grade_window))
    print(f"Previous loan amount from the same state and grade is added")
    df.show()

    return df

In [55]:
df_encoded = feature_engineering(df_encoded, "clean_issue_date", "letter_grade", "loan_amount", "state")

Previous loan issue date from the same grade is added
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|clean_issue_date|prev_loan_date_same_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+
|Yid8Ol9sXHg5OU83d...|             Teacher|      10.0|   30000.0|             0.0|   316xx|        GA|     1357.0|    10855.0|   1464| Fully Paid|     1200.0| 11.0|       1200.0| 36 months|  0.1212|    6|   12 August 2012|     false|    8.0|              Moving|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|                     NULL|
|YidceGRmT1x4YmZ3e...|   Verified response|       0.5|   50000.0|             0.0|   752xx|        TX|     3964.0|    31709.0|  92876|Charged Off|    10000.0| 43.0|      10000.0| 36 months|  0.1212|    9|   12 August 2012|     false|    3.0|Credit consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|               2012-08-12|
|YidceDE0XHgwMWlce...|    Culpepper Garden|       3.0|   62000.0|             0.0|   225xx|        VA|     2901.0|    60911.0|  54911| Fully Paid|     7000.0| 45.0|       7000.0| 36 months|  0.1409|    7|   12 August 2012|     false|    3.0|           last time|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|               2012-08-12|
|YidceGNiXHg3Zlx4O...|      ford motor co.|      10.0|   75000.0|             0.0|   646xx|        MO|     5316.0|    74417.0| 169695| Fully Paid|    16100.0| 24.0|      16100.0| 36 months|  0.1114|    6|12 September 2012|     false|    3.0|            the loan|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-08-12|
|YidceGZmXHhiYTFce...|            Covidien|       7.0|   18000.0|             0.0|   065xx|        CT|      876.0|     5253.0|  35212| Fully Paid|     5250.0|  7.0|       5250.0| 36 months|  0.1409|    6|12 September 2012|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceGE1XHhjOFx4Y...|         dhl express|       4.0|   80000.0|             0.0|   770xx|        TX|     6612.0|    92572.0| 145243| Fully Paid|    15000.0| 43.0|      15000.0| 36 months|  0.1409|    6|12 September 2012|     false|    3.0|       Bills Be Gone|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YiJceDE0XHhmOVx4Y...|Palm Beach County...|      10.0|   52000.0|             0.0|   334xx|        FL|     2577.0|    18040.0| 113148| Fully Paid|    11300.0| 10.0|      11300.0| 36 months|  0.1409|   10|12 September 2012|     false|    4.0|  Personal Loan 2012|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceDE5XHhhNUNce...|Secured Network S...|       6.0|   62500.0|             0.0|   023xx|        MA|    29712.0|   326834.0| 115526| Fully Paid|    12000.0| 19.0|      12000.0| 36 months|  0.1114|   10|12 September 2012|     false|    2.0|Credit Card Conso...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceGUxXHhkMFx4Y...|       betts express|       5.0|   50000.0|             0.0|   902xx|        CA|     3212.0|    38540.0| 121326| Fully Paid|    12000.0|  5.0|      12000.0| 36 months|  0.1212|    9|12 September 2012|     false|    2.0|             pay off|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YiJeZlgmVDpLXHhjM...|Valley Lahvosh Ba...|       6.0|   27000.0|             0.0|   937xx|        CA|     2359.0|     9436.0|   5788| Fully Paid|     2200.0|  5.0|       2200.0| 36 months|     0.0|    7|12 September 2012|     false|    8.0|              Moving|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceDE5Mlx4ZTZce...|          Union Bank|       1.0|   60000.0|             0.0|   900xx|        CA|     2807.0|    28065.0|  38789| Fully Paid|     6000.0|  5.0|       6000.0| 36 months|  0.1212|    7|12 September 2012|     false|    3.0|Paying off credit...|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidUXHg5ZVx4YWNJM...|             pepsico|      10.0|   48000.0|             0.0|   338xx|        FL|    10231.0|    92080.0|  10238| Fully Paid|     3000.0| 10.0|       3000.0| 36 months|  0.1114|    6|12 September 2012|     false|   12.0|       Vacation loan|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceDgwXHhiYVx4O...|  Antron Corporation|       7.0|   36400.0|             0.0|   212xx|        MD|     7238.0|    36188.0|  54913|Charged Off|     7000.0| 20.0|       7000.0| 36 months|  0.1409|    9|12 September 2012|     false|    9.0|               Other|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidOd1x4YjhlXHhmN...|Pacific Gas and E...|      10.0|  100000.0|             0.0|   945xx|        CA|     7111.0|    71113.0| 194435| Fully Paid|    20000.0|  5.0|      20000.0| 36 months|  0.1409|   10|12 September 2012|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceGM1XHhlZVx4M...|Field Asset Services|       9.0|   58000.0|             0.0|   787xx|        TX|    17317.0|   138535.0| 110863|    Current|    11000.0| 43.0|      11000.0| 60 months|  0.1016|    8|12 September 2012|     false|    3.0|         Visa payoff|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceGMxXHg4ZVx4Y...|Intermec Technoli...|       5.0|   45000.0|             0.0|   282xx|        NC|    25427.0|   177989.0| 138694| Fully Paid|    14000.0| 27.0|      14000.0| 36 months|  0.1114|   10|12 September 2012|     false|    3.0|Credit Consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceDE2KjFXZ1x4O...|   Time Warner Cable|       2.0|   38000.0|             0.0|   111xx|        NY|     3742.0|    29939.0|  48847| Fully Paid|     6400.0| 34.0|       6400.0| 36 months|  0.1311|    9|12 September 2012|     false|    2.0|Credit Card Refin...|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidUfCBceGZiXHhjY...|Brattleboro Food ...|       7.0|   32000.0|             0.0|   034xx|        NH|     1639.0|    32786.0|  43682| Fully Paid|     6000.0| 30.0|       6000.0| 36 months|  0.1212|    9|12 September 2012|     false|    3.0|  Debt Consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YicwXHhkOFlcblx4Y...|RACSB - RAAI/Sunn...|       6.0|   49000.0|             0.0|   225xx|        VA|    60256.0|   241025.0|  41940| Fully Paid|     6000.0| 45.0|       6000.0| 36 months|  0.1016|   10|12 September 2012|     false|    1.0|       Car financing|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
|YidceGRmXHg5MVx4O...|SeaWorld Parks & ...|      10.0|   60000.0|             0.0|   921xx|        CA|     3368.0|    26944.0|  12323|Charged Off|     3000.0|  5.0|       3000.0| 60 months|     0.0|   10|12 September 2012|     false|    3.0|         Consolidate|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+
only showing top 20 rows

Previous loan amount from the same grade is added
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|clean_issue_date|prev_loan_date_same_grade|prev_loan_amount_same_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+
|Yid8Ol9sXHg5OU83d...|             Teacher|      10.0|   30000.0|             0.0|   316xx|        GA|     1357.0|    10855.0|   1464| Fully Paid|     1200.0| 11.0|       1200.0| 36 months|  0.1212|    6|   12 August 2012|     false|    8.0|              Moving|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|                     NULL|                       NULL|
|YidceGRmT1x4YmZ3e...|   Verified response|       0.5|   50000.0|             0.0|   752xx|        TX|     3964.0|    31709.0|  92876|Charged Off|    10000.0| 43.0|      10000.0| 36 months|  0.1212|    9|   12 August 2012|     false|    3.0|Credit consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|               2012-08-12|                     1200.0|
|YidceDE0XHgwMWlce...|    Culpepper Garden|       3.0|   62000.0|             0.0|   225xx|        VA|     2901.0|    60911.0|  54911| Fully Paid|     7000.0| 45.0|       7000.0| 36 months|  0.1409|    7|   12 August 2012|     false|    3.0|           last time|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-08-12|               2012-08-12|                    10000.0|
|YidceGNiXHg3Zlx4O...|      ford motor co.|      10.0|   75000.0|             0.0|   646xx|        MO|     5316.0|    74417.0| 169695| Fully Paid|    16100.0| 24.0|      16100.0| 36 months|  0.1114|    6|12 September 2012|     false|    3.0|            the loan|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-08-12|                     7000.0|
|YidceGZmXHhiYTFce...|            Covidien|       7.0|   18000.0|             0.0|   065xx|        CT|      876.0|     5253.0|  35212| Fully Paid|     5250.0|  7.0|       5250.0| 36 months|  0.1409|    6|12 September 2012|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|                    16100.0|
|YidceGE1XHhjOFx4Y...|         dhl express|       4.0|   80000.0|             0.0|   770xx|        TX|     6612.0|    92572.0| 145243| Fully Paid|    15000.0| 43.0|      15000.0| 36 months|  0.1409|    6|12 September 2012|     false|    3.0|       Bills Be Gone|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|                     5250.0|
|YiJceDE0XHhmOVx4Y...|Palm Beach County...|      10.0|   52000.0|             0.0|   334xx|        FL|     2577.0|    18040.0| 113148| Fully Paid|    11300.0| 10.0|      11300.0| 36 months|  0.1409|   10|12 September 2012|     false|    4.0|  Personal Loan 2012|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|                    15000.0|
|YidceDE5XHhhNUNce...|Secured Network S...|       6.0|   62500.0|             0.0|   023xx|        MA|    29712.0|   326834.0| 115526| Fully Paid|    12000.0| 19.0|      12000.0| 36 months|  0.1114|   10|12 September 2012|     false|    2.0|Credit Card Conso...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2012-09-12|               2012-09-12|                    11300.0|
|YidceGUxXHhkMFx4Y...|       betts express|       5.0|   50000.0|             0.0|   902xx|        CA|     3212.0|    38540.0| 121326| Fully Paid|    12000.0|  5.0|      12000.0| 36 months|  0.1212|    9|12 September 2012|     false|    2.0|             pay off|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-09-12|               2012-09-12|                    12000.0|

In [56]:
check_missing_values(df_encoded)

Column 'customer_id' has 0 missing values
Column 'emp_title' has 0 missing values
Column 'emp_length' has 0 missing values
Column 'annual_inc' has 0 missing values
Column 'annual_inc_joint' has 0 missing values
Column 'zip_code' has 0 missing values
Column 'addr_state' has 0 missing values
Column 'avg_cur_bal' has 0 missing values
Column 'tot_cur_bal' has 0 missing values
Column 'loan_id' has 0 missing values
Column 'loan_status' has 0 missing values
Column 'loan_amount' has 0 missing values
Column 'state' has 0 missing values
Column 'funded_amount' has 0 missing values
Column 'term' has 0 missing values
Column 'int_rate' has 0 missing values
Column 'grade' has 0 missing values
Column 'issue_date' has 0 missing values
Column 'pymnt_plan' has 0 missing values
Column 'purpose' has 0 missing values
Column 'description' has 0 missing values
Column 'home_ownership_own' has 0 missing values
Column 'home_ownership_rent' has 0 missing values
Column 'home_ownership_mortgage' has 0 missing values
Column 'home_ownership_any' has 0 missing values
Column 'verification_status_verified' has 0 missing values
Column 'verification_status_source_verified' has 0 missing values
Column 'verification_status_not_verified' has 0 missing values
Column 'type_direct_pay' has 0 missing values
Column 'type_joint' has 0 missing values
Column 'type_individual' has 0 missing values
Column 'letter_grade' has 0 missing values
Column 'clean_issue_date' has 0 missing values
Column 'prev_loan_date_same_grade' has 7 missing values
Column 'prev_loan_amount_same_grade' has 7 missing values
Column 'prev_loan_date_same_state_grade' has 326 missing values
Column 'prev_loan_amount_same_state_grade' has 326 missing values

In [57]:
df_encoded.rdd.getNumPartitions()

3

## Part 5: Analysis SQL vs Spark

In [58]:
df_encoded.createOrReplaceTempView("loans")

1.  Identify the average loan amount and interest rate for loans marked as "Fully Paid" in the Loan Status, grouped by Emp Length and annual income ranges.

In [66]:
df_encoded.describe("annual_inc").show()

+-------+------------------+
|summary|        annual_inc|
+-------+------------------+
|  count|             27030|
|   mean| 80384.02745567886|
| stddev|105958.59546508544|
|    min|            2000.0|
|    max|         7691779.0|
+-------+------------------+

In [67]:
# iqr for annual inc
percentiles = df_encoded.approxQuantile("annual_inc", [0.25, 0.50, 0.75, 0.90], 0)
iqr = percentiles[2] - percentiles[0]
lower_bound = percentiles[0] - 1.5 * iqr
upper_bound = percentiles[2] + 1.5 * iqr

print(f"Percentiles: {percentiles}")
print(f"Lower bound: {lower_bound}, Upper bound: {upper_bound}")

Percentiles: [47840.0, 66300.0, 95000.0, 133000.0]
Lower bound: -22900.0, Upper bound: 165740.0

We could bin the annual income as follows:

- Low: < 45,000
- Medium: 45,000 - 95,000
- High: 95,000 - 135,000
- Very High: > 135,000

#### SQL Query

In [74]:
q1_sql = """
        SELECT emp_length,
        CASE
            WHEN annual_inc < 45000 THEN 'Low Income'
            WHEN annual_inc >= 45000 AND annual_inc < 95000 THEN 'Medium Income'
            WHEN annual_inc >= 95000 AND annual_inc < 135000 THEN 'High Income'
            ELSE 'Very High Income'
        END AS income_range,
        AVG(loan_amount) AS avg_loan_amount,
        AVG(int_rate) AS avg_int_rate
        FROM loans
        WHERE loan_status = 'Fully Paid'
        GROUP BY emp_length, income_range
        ORDER BY emp_length, income_range
        """

spark.sql(q1_sql).show(44)

+----------+----------------+------------------+-------------------+
|emp_length|    income_range|   avg_loan_amount|       avg_int_rate|
+----------+----------------+------------------+-------------------+
|       0.5|     High Income|18976.785714285714|0.12183809523809523|
|       0.5|      Low Income| 8521.337579617835|0.13147707006369427|
|       0.5|   Medium Income| 13423.27868852459| 0.1181554098360656|
|       0.5|Very High Income|22304.166666666668|0.10875151515151515|
|       1.0|     High Income| 18556.73076923077| 0.1199576923076923|
|       1.0|      Low Income| 7868.840579710145|0.12871884057971014|
|       1.0|   Medium Income|12712.240663900415|0.12310995850622407|
|       1.0|Very High Income|24143.243243243243|0.09983243243243242|
|       2.0|     High Income|18204.320987654322|0.11271358024691358|
|       2.0|      Low Income| 7876.541095890411| 0.1278527397260274|
|       2.0|   Medium Income| 12854.40340909091|0.11735426136363637|
|       2.0|Very High Income|22360.869565217392|0.11936521739130437|
|       3.0|     High Income| 18252.55681818182|0.11562272727272727|
|       3.0|      Low Income|           7706.25|0.12917171052631582|
|       3.0|   Medium Income|13230.097087378641|0.12434822006472494|
|       3.0|Very High Income|21661.458333333332|0.12038958333333334|
|       4.0|     High Income|16783.620689655174|0.10501379310344829|
|       4.0|      Low Income| 8991.666666666666|0.12371414141414142|
|       4.0|   Medium Income| 12886.79435483871|0.12400766129032259|
|       4.0|Very High Income|21954.166666666668|0.11531458333333333|
|       5.0|     High Income|19507.926829268294|0.11903536585365855|
|       5.0|      Low Income| 8473.404255319148|0.13282553191489363|
|       5.0|   Medium Income|13974.910071942446|0.11914676258992805|
|       5.0|Very High Income|           21682.0|0.12741599999999997|
|       6.0|     High Income|20544.811320754718|0.13219245283018868|
|       6.0|      Low Income|            8875.0|         0.13611875|
|       6.0|   Medium Income|12212.380952380952|0.11955476190476191|
|       6.0|Very High Income|20645.833333333332|             0.1107|
|       7.0|     High Income|18510.384615384617|0.11284615384615385|
|       7.0|      Low Income|            8417.0|           0.135416|
|       7.0|   Medium Income|13744.029850746268|0.12057213930348258|
|       7.0|Very High Income|18910.416666666668|0.11321666666666669|
|       8.0|     High Income| 20446.21212121212| 0.1179469696969697|
|       8.0|      Low Income| 8464.473684210527|0.13311184210526314|
|       8.0|   Medium Income|14386.477987421384|0.12445157232704401|
|       8.0|Very High Income|          20533.75|0.10495499999999999|
|       9.0|     High Income|           19245.0|0.11356888888888889|
|       9.0|      Low Income|  8517.12962962963|0.13293703703703705|
|       9.0|   Medium Income|13605.745341614907|0.11799937888198758|
|       9.0|Very High Income|22866.666666666668| 0.1419766666666667|
|      10.0|     High Income|18474.049429657796|0.11652262357414447|
|      10.0|      Low Income| 8636.156186612576|  0.126110953346856|
|      10.0|   Medium Income|14091.746554823247|0.12086770521270221|
|      10.0|Very High Income|22173.063973063974|0.11214882154882157|
+----------+----------------+------------------+-------------------+

In [75]:
df_encoded.filter(col("loan_status") == 'Fully Paid').show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|clean_issue_date|prev_loan_date_same_grade|prev_loan_amount_same_grade|prev_loan_date_same_state_grade|prev_loan_amount_same_state_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
|YiJceGM5XHhlM1x4Y...|Department of Def...|       4.0|   52500.0|             0.0|   997xx|        AK|    26742.0|   187197.0|  81679| Fully Paid|    10000.0|  1.0|      10000.0| 36 months|  0.1114|    6| 12 November 2012|     false|    3.0|             freedom|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2012-11-12|               2012-11-12|                     1000.0|                           NULL|                             NULL|
|YicgWkRKXHhmY1x4Z...|                 ICT|       5.0|   28000.0|             0.0|   997xx|        AK|     2170.0|     8681.0|  19056| Fully Paid|     4000.0|  1.0|       4000.0| 36 months|  0.1367|   10| 13 December 2013|     false|    7.0|        medical loan|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2013-12-13|               2013-12-13|                    15000.0|                     2012-11-12|                          10000.0|
|YidceGQ5XHhiOVx4O...|E-7/Guidance Coun...|      10.0|   97500.0|             0.0|   995xx|        AK|     4819.0|    53004.0| 231164| Fully Paid|    26000.0|  1.0|      26000.0| 36 months|  0.0967|    7| 13 December 2013|     false|    2.0|        Credit Cards|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2013-12-13|               2013-12-13|                    10000.0|                     2013-12-13|                           4000.0|
|YidXaTJceGE2XHhhN...|             Lineman|       7.0|   60000.0|             0.0|   996xx|        AK|     5646.0|    39522.0| 145215| Fully Paid|    15000.0|  1.0|      15000.0| 36 months|  0.1285|    7|  14 January 2014|     false|    3.0|  Debt Consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2014-01-14|               2014-01-14|                     4000.0|                     2013-12-13|                          26000.0|
|YidceDliXHg5Zlx4O...|        Admin Tech 3|       0.5|   45000.0|             0.0|   995xx|        AK|     5388.0|    80822.0| 164533| Fully Paid|    16000.0|  1.0|      16000.0| 36 months|  0.1199|    9|  14 January 2014|     false|    2.0|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2014-01-14|               2014-01-14|                    13000.0|                     2014-01-14|                          15000.0|
|YicpXHg4Y3dcblx4O...|             Teacher|      10.0|   65000.0|             0.0|   996xx|        AK|     9330.0|    83966.0| 172659| Fully Paid|    17000.0|  1.0|      17000.0| 36 months|  0.1099|    8|    14 March 2014|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2014-03-14|               2014-03-14|                     7200.0|                     2014-01-14|                          16000.0|
|YiczU1x4Y2NhXHgwY...|                  RN|       7.0|   75000.0|             0.0|   998xx|        AK|    47711.0|   333979.0| 211702| Fully Paid|    22700.0|  1.0|      22700.0| 60 months|  0.1153|    8|     15 July 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2015-07-15|               2015-07-15|                    30000.0|                     2015-04-15|                          26400.0|
|YiJceGQ3XHhiMlx4Z...|Warehouse Specialist|       0.5|   50000.0|             0.0|   996xx|        AK|     7311.0|   153540.0| 148414| Fully Paid|    15000.0|  1.0|      15000.0| 36 months|  0.0849|   10|  16 January 2016|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2016-01-16|               2016-01-16|                    35000.0|                     2015-07-15|                          22700.0|
|YidceDljXHhjZmVce...| Director of Finance|       4.0|  110000.0|             0.0|   995xx|        AK|    11379.0|   182056.0| 191105| Fully Paid|    20000.0|  1.0|      20000.0| 36 months|  0.0949|    8|     16 July 2016|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2016-07-16|               2016-07-16|                     7200.0|                     2016-03-16|                          23500.0|
|YidceGZkPFx4Y2Rce...|              Pastor|       5.0|   50000.0|             0.0|   995xx|        AK|     1546.0|     6183.0|  48063| Fully Paid|     6350.0|  1.0|       6350.0| 36 months|  0.1155|    7|18 September 2018|     false|    9.0|               Other|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2018-09-18|               2018-09-18|                    26150.0|                     2018-05-18|                          35000.0|
|YidceGM5Y1BceGEyX...| Pharmacy technician|       6.0|  100000.0|             0.0|   995xx|        AK|     8919.0|    44594.0| 268772| Fully Paid|    40000.0|  1.0|      40000.0| 60 months|   0.124|   10|    19 April 2019|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2019-04-19|               2019-04-19|                    40000.0|                     2018-09-18|                           6350.0|
|YidceDFhXHhiMkRce...|Grooming Salon Ma...|       5.0|   47000.0|             0.0|   996xx|        AK|     3016.0|    57299.0|  29943| Fully Paid|     5000.0|  1.0|       5000.0| 36 months|  0.1171|    8|     19 June 2019|     false|    2.0|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2019-06-19|               2019-06-19|                    40000.0|                     2019-04-19|                          40000.0|
|YidceDAyXHg4M1x4O...|            MRI Tech|       5.0|   80000.0|             0.0|   997xx|        AK|     8541.0|    76871.0| 220475| Fully Paid|    24000.0|  1.0|      24000.0| 60 months|  0.2274|   23| 17 February 2017|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|              0|         0|              1|           E|      2017-02-17|               2017-02-17|                     5750.0|                     2016-08-16|                          10000.0|
|YicpXHJ0XHhkNUdce...| TARPING SYSTEMS INC|       3.0|   35000.0|             0.0|   363xx|        AL|    26674.0|   160041.0|    314| Fully Paid|     1000.0|  2.0|       1000.0| 36 months|  0.1114|    8| 12 November 2012|     false|    6.0|      Major purchase|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2012-11-12|               2012-11-12|                    12000.0|                     2012-11-12|                           7000.0|
|YidcdHUlJVx4YTd7X...|City of Gulf Shor...|      10.0|  106000.0|             0.0|   365xx|        AL|    26626.0|   213009.0|  81954| Fully Paid|    10000.0|  2.0|      10000.0| 36 months|  0.1311|    7|     13 June 2013|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2013-06-13|               2013-06-13|                    13000.0|                     2012-11-12|                           1000.0|
|YidceGFjRDt1XHhhZ...|Black Belt Commun...|      10.0|   75000.0|             0.0|   354xx|        AL|    11666.0|   198319.0| 224784| Fully Paid|    25000.0|  2.0|      25000.0| 36 months|  0.1305|   10|13 September 2013|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2013-09-13|               2013-09-13|                    10000.0|                     2013-06-13|                          10000.0|
|YidceGQzdFx4ODZce...|             Teacher|      10.0|  110000.0|             0.0|   352xx|        AL|    32251.0|   193505.0|  89123| Fully Paid|    10000.0|  2.0|      10000.0| 36 months|  0.0999|    6| 13 November 2013|     false|    9.0|              Payoff|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2013-11-13|               2013-11-13|                    12000.0|                     2013-09-13|                          25000.0|
|YidceGFhXHg4Mlx4O...|Applications Syst...|       8.0|  115000.0|             0.0|   358xx|        AL|     2380.0|    26178.0| 254761| Fully Paid|    35000.0|  2.0|      35000.0| 36 months|  0.0967|    7| 13 November 2013|     false|    3.0|  loan consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2013-11-13|               2013-11-13|                    15000.0|                     2013-11-13|                          10000.0|
|YidceDAzXHgwZVx4M...|     Level 2 Manager|      10.0|  140000.0|             0.0|   356xx|        AL|    19394.0|   329703.0| 197549| Fully Paid|    20000.0|  2.0|      20000.0| 60 months|  0.1199|    9|    14 April 2014|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2014-04-14|               2014-04-14|                    11000.0|                     2014-03-14|                           8000.0|
|YidrXHhjOFx4YzAzd...|           President|      10.0|  128000.0|             0.0|   358xx|        AL|    34225.0|   273803.0| 223909| Fully Paid|    25000.0|  2.0|      25000.0| 36 months|  0.0967|    8|    14 April 2014|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2014-04-14|               2014-04-14|                    15875.0|                     2014-04-14|                          20000.0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
only showing top 20 rows

#### Spark Query

In [76]:
q1_spark = df_encoded.withColumn("income_range", 
    when(col("annual_inc") < 45000, "Low Income")
    .when((col("annual_inc") >= 45000) & (col("annual_inc") < 95000), "Medium Income")
    .when((col("annual_inc") >= 95000) & (col("annual_inc") < 135000), "High Income")
    .otherwise("Very High Income")
).filter(col("loan_status") == 'Fully Paid').groupBy("emp_length", "income_range").agg(
    fn.avg("loan_amount").alias("avg_loan_amount"),
    fn.avg("int_rate").alias("avg_int_rate")
).orderBy("emp_length", "income_range")

q1_spark.show(44)

+----------+----------------+------------------+-------------------+
|emp_length|    income_range|   avg_loan_amount|       avg_int_rate|
+----------+----------------+------------------+-------------------+
|       0.5|     High Income|18976.785714285714|0.12183809523809523|
|       0.5|      Low Income| 8521.337579617835|0.13147707006369427|
|       0.5|   Medium Income| 13423.27868852459| 0.1181554098360656|
|       0.5|Very High Income|22304.166666666668|0.10875151515151515|
|       1.0|     High Income| 18556.73076923077| 0.1199576923076923|
|       1.0|      Low Income| 7868.840579710145|0.12871884057971014|
|       1.0|   Medium Income|12712.240663900415|0.12310995850622407|
|       1.0|Very High Income|24143.243243243243|0.09983243243243242|
|       2.0|     High Income|18204.320987654322|0.11271358024691358|
|       2.0|      Low Income| 7876.541095890411| 0.1278527397260274|
|       2.0|   Medium Income| 12854.40340909091|0.11735426136363637|
|       2.0|Very High Income|22360.869565217392|0.11936521739130437|
|       3.0|     High Income| 18252.55681818182|0.11562272727272727|
|       3.0|      Low Income|           7706.25|0.12917171052631582|
|       3.0|   Medium Income|13230.097087378641|0.12434822006472494|
|       3.0|Very High Income|21661.458333333332|0.12038958333333334|
|       4.0|     High Income|16783.620689655174|0.10501379310344829|
|       4.0|      Low Income| 8991.666666666666|0.12371414141414142|
|       4.0|   Medium Income| 12886.79435483871|0.12400766129032259|
|       4.0|Very High Income|21954.166666666668|0.11531458333333333|
|       5.0|     High Income|19507.926829268294|0.11903536585365855|
|       5.0|      Low Income| 8473.404255319148|0.13282553191489363|
|       5.0|   Medium Income|13974.910071942446|0.11914676258992805|
|       5.0|Very High Income|           21682.0|0.12741599999999997|
|       6.0|     High Income|20544.811320754718|0.13219245283018868|
|       6.0|      Low Income|            8875.0|         0.13611875|
|       6.0|   Medium Income|12212.380952380952|0.11955476190476191|
|       6.0|Very High Income|20645.833333333332|             0.1107|
|       7.0|     High Income|18510.384615384617|0.11284615384615385|
|       7.0|      Low Income|            8417.0|           0.135416|
|       7.0|   Medium Income|13744.029850746268|0.12057213930348258|
|       7.0|Very High Income|18910.416666666668|0.11321666666666669|
|       8.0|     High Income| 20446.21212121212| 0.1179469696969697|
|       8.0|      Low Income| 8464.473684210527|0.13311184210526314|
|       8.0|   Medium Income|14386.477987421384|0.12445157232704401|
|       8.0|Very High Income|          20533.75|0.10495499999999999|
|       9.0|     High Income|           19245.0|0.11356888888888889|
|       9.0|      Low Income|  8517.12962962963|0.13293703703703705|
|       9.0|   Medium Income|13605.745341614907|0.11799937888198758|
|       9.0|Very High Income|22866.666666666668| 0.1419766666666667|
|      10.0|     High Income|18474.049429657796|0.11652262357414447|
|      10.0|      Low Income| 8636.156186612576|  0.126110953346856|
|      10.0|   Medium Income|14091.746554823247|0.12086770521270221|
|      10.0|Very High Income|22173.063973063974|0.11214882154882157|
+----------+----------------+------------------+-------------------+

2.  Calculate the average difference between Loan Amount and Funded Amount for each loan Grade and sort by the grades with the largest differences.

#### SQL Query

In [77]:
q2_sql = """
SELECT letter_grade, AVG(loan_amount - funded_amount) AS avg_diff
FROM loans
GROUP BY letter_grade
ORDER BY avg_diff DESC
"""

spark.sql(q2_sql).show()

+------------+--------+
|letter_grade|avg_diff|
+------------+--------+
|           F|     0.0|
|           E|     0.0|
|           B|     0.0|
|           D|     0.0|
|           C|     0.0|
|           A|     0.0|
|           G|     0.0|
+------------+--------+

#### Spark Query

In [78]:
q2_spark = df_encoded.select("letter_grade", (col("loan_amount") - col("funded_amount"))
                             .alias("diff")).groupBy("letter_grade").agg(fn.avg("diff").alias("avg_diff")).orderBy("avg_diff", ascending=False)

q2_spark.show()

+------------+--------+
|letter_grade|avg_diff|
+------------+--------+
|           F|     0.0|
|           E|     0.0|
|           B|     0.0|
|           D|     0.0|
|           C|     0.0|
|           A|     0.0|
|           G|     0.0|
+------------+--------+

3. Compare the total Loan Amount for loans with "Verified" and "Not Verified" Verification Status across each state (Addr State).

#### SQL Query

In [79]:
q3_sql = """
SELECT addr_state, SUM(verification_status_verified * loan_amount) AS total_verified_loan_amount, SUM(verification_status_not_verified * loan_amount) AS total_not_verified_loan_amount
FROM loans
GROUP BY addr_state
ORDER BY addr_state
"""

spark.sql(q3_sql).show(50)

+----------+--------------------------+------------------------------+
|addr_state|total_verified_loan_amount|total_not_verified_loan_amount|
+----------+--------------------------+------------------------------+
|        AK|                  180850.0|                      260900.0|
|        AL|                 1657500.0|                     1204100.0|
|        AR|                 1113625.0|                      895850.0|
|        AZ|                 2831050.0|                     3068500.0|
|        CA|               1.5920375E7|                   1.8114825E7|
|        CO|                 2237400.0|                     2705500.0|
|        CT|                 1768750.0|                     2524225.0|
|        DC|                  322325.0|                      410825.0|
|        DE|                  391275.0|                      375325.0|
|        FL|                 7655725.0|                     9928375.0|
|        GA|                 3580500.0|                     4335850.0|
|        HI|                  719600.0|                      688275.0|
|        ID|                  159375.0|                      521575.0|
|        IL|                 4745975.0|                     4657250.0|
|        IN|                 1851075.0|                     1912825.0|
|        KS|                 1306475.0|                     1151250.0|
|        KY|                 1031500.0|                     1075000.0|
|        LA|                 1670025.0|                     1222500.0|
|        MA|                 2683550.0|                     3213250.0|
|        MD|                 2710250.0|                     2865800.0|
|        ME|                  289625.0|                      227675.0|
|        MI|                 3112650.0|                     3208750.0|
|        MN|                 1880700.0|                     2230500.0|
|        MO|                 1907275.0|                     2025250.0|
|        MS|                  657975.0|                      659425.0|
|        MT|                  292850.0|                      378225.0|
|        NC|                 3236275.0|                     3553550.0|
|        ND|                  136650.0|                      260850.0|
|        NE|                  393675.0|                      543700.0|
|        NH|                  631150.0|                      618575.0|
|        NJ|                 4995400.0|                     5059625.0|
|        NM|                  488400.0|                      882750.0|
|        NV|                 1747200.0|                     1985775.0|
|        NY|                 8694175.0|                     1.12032E7|
|        OH|                 3600900.0|                     4081775.0|
|        OK|                 1226050.0|                      956725.0|
|        OR|                 1331500.0|                     1597575.0|
|        PA|                 4187675.0|                     4230725.0|
|        RI|                  458675.0|                      508025.0|
|        SC|                 1271100.0|                     1914975.0|
|        SD|                  232400.0|                      301750.0|
|        TN|                 2199250.0|                     1759575.0|
|        TX|               1.1151275E7|                   1.1725975E7|
|        UT|                  656275.0|                      673675.0|
|        VA|                 3333800.0|                     3537525.0|
|        VT|                  247400.0|                      207500.0|
|        WA|                 2612075.0|                     2544675.0|
|        WI|                 1490825.0|                     1931725.0|
|        WV|                  328350.0|                      563325.0|
|        WY|                  410100.0|                      223725.0|
+----------+--------------------------+------------------------------+

#### Spark Query

In [80]:
q3_spark = df_encoded.groupby("addr_state").agg(
    fn.sum(col("verification_status_VERIFIED") * col("loan_amount")).alias("total_verified_loan_amount"),
    fn.sum(col("verification_status_NOT_VERIFIED") * col("loan_amount")).alias("total_not_verified_loan_amount")
).orderBy("addr_state")

q3_spark.show(50)

+----------+--------------------------+------------------------------+
|addr_state|total_verified_loan_amount|total_not_verified_loan_amount|
+----------+--------------------------+------------------------------+
|        AK|                  180850.0|                      260900.0|
|        AL|                 1657500.0|                     1204100.0|
|        AR|                 1113625.0|                      895850.0|
|        AZ|                 2831050.0|                     3068500.0|
|        CA|               1.5920375E7|                   1.8114825E7|
|        CO|                 2237400.0|                     2705500.0|
|        CT|                 1768750.0|                     2524225.0|
|        DC|                  322325.0|                      410825.0|
|        DE|                  391275.0|                      375325.0|
|        FL|                 7655725.0|                     9928375.0|
|        GA|                 3580500.0|                     4335850.0|
|        HI|                  719600.0|                      688275.0|
|        ID|                  159375.0|                      521575.0|
|        IL|                 4745975.0|                     4657250.0|
|        IN|                 1851075.0|                     1912825.0|
|        KS|                 1306475.0|                     1151250.0|
|        KY|                 1031500.0|                     1075000.0|
|        LA|                 1670025.0|                     1222500.0|
|        MA|                 2683550.0|                     3213250.0|
|        MD|                 2710250.0|                     2865800.0|
|        ME|                  289625.0|                      227675.0|
|        MI|                 3112650.0|                     3208750.0|
|        MN|                 1880700.0|                     2230500.0|
|        MO|                 1907275.0|                     2025250.0|
|        MS|                  657975.0|                      659425.0|
|        MT|                  292850.0|                      378225.0|
|        NC|                 3236275.0|                     3553550.0|
|        ND|                  136650.0|                      260850.0|
|        NE|                  393675.0|                      543700.0|
|        NH|                  631150.0|                      618575.0|
|        NJ|                 4995400.0|                     5059625.0|
|        NM|                  488400.0|                      882750.0|
|        NV|                 1747200.0|                     1985775.0|
|        NY|                 8694175.0|                     1.12032E7|
|        OH|                 3600900.0|                     4081775.0|
|        OK|                 1226050.0|                      956725.0|
|        OR|                 1331500.0|                     1597575.0|
|        PA|                 4187675.0|                     4230725.0|
|        RI|                  458675.0|                      508025.0|
|        SC|                 1271100.0|                     1914975.0|
|        SD|                  232400.0|                      301750.0|
|        TN|                 2199250.0|                     1759575.0|
|        TX|               1.1151275E7|                   1.1725975E7|
|        UT|                  656275.0|                      673675.0|
|        VA|                 3333800.0|                     3537525.0|
|        VT|                  247400.0|                      207500.0|
|        WA|                 2612075.0|                     2544675.0|
|        WI|                 1490825.0|                     1931725.0|
|        WV|                  328350.0|                      563325.0|
|        WY|                  410100.0|                      223725.0|
+----------+--------------------------+------------------------------+

4.  Calculate the average time gap (in days) between consecutive loans for each grade using the new features you added in the feature engineering phase.

#### SQL Query

In [81]:
q4_sql = """
    SELECT letter_grade, AVG(DATEDIFF(clean_issue_date, prev_loan_date_same_grade)) AS avg_time_gap_days
    FROM loans
    WHERE prev_loan_date_same_grade IS NOT NULL
    GROUP BY letter_grade
    ORDER BY letter_grade
"""

spark.sql(q4_sql).show()

+------------+-------------------+
|letter_grade|  avg_time_gap_days|
+------------+-------------------+
|           A| 0.4526692819375746|
|           B|0.33811862485833016|
|           C| 0.3557705048363588|
|           D| 0.6900539707016191|
|           E| 1.8901960784313725|
|           F| 6.2936507936507935|
|           G|         17.1640625|
+------------+-------------------+

#### Spark Query

In [82]:
q4_spark = df_encoded.filter(col("prev_loan_date_same_grade").isNotNull()).groupBy("letter_grade")\
                    .agg(fn.avg(fn.datediff(col("clean_issue_date"), col("prev_loan_date_same_grade"))).alias("avg_time_gap_days"))\
                    .orderBy("letter_grade")

q4_spark.show()

+------------+-------------------+
|letter_grade|  avg_time_gap_days|
+------------+-------------------+
|           A| 0.4526692819375746|
|           B|0.33811862485833016|
|           C| 0.3557705048363588|
|           D| 0.6900539707016191|
|           E| 1.8901960784313725|
|           F| 6.2936507936507935|
|           G|         17.1640625|
+------------+-------------------+

5. Identify the average difference in loan amounts between consecutive loans within the same state and grade combination.

#### SQL Query

In [83]:
q5_sql = """
    SELECT addr_state, letter_grade, AVG(ABS(loan_amount - prev_loan_amount_same_state_grade)) AS avg_loan_amount_diff
    FROM loans
    WHERE prev_loan_amount_same_state_grade IS NOT NULL
    GROUP BY addr_state, letter_grade
    ORDER BY addr_state, letter_grade
"""

spark.sql(q5_sql).show(350)

+----------+------------+--------------------+
|addr_state|letter_grade|avg_loan_amount_diff|
+----------+------------+--------------------+
|        AK|           A|   6164.285714285715|
|        AK|           B|  12660.227272727272|
|        AK|           C|  11964.285714285714|
|        AK|           D|             11175.0|
|        AK|           E|              9500.0|
|        AL|           A|   8478.365384615385|
|        AL|           B|  10426.898734177215|
|        AL|           C|  10857.926829268292|
|        AL|           D|   9186.538461538461|
|        AL|           E|              8290.0|
|        AL|           F|             15200.0|
|        AL|           G|              5075.0|
|        AR|           A|  10522.916666666666|
|        AR|           B|   8684.154929577464|
|        AR|           C|              9157.0|
|        AR|           D|   9905.357142857143|
|        AR|           E|            13093.75|
|        AR|           F|  10033.333333333334|
|        AZ|           A|  10191.860465116279|
|        AZ|           B|  10500.837988826815|
|        AZ|           C|  10395.979899497488|
|        AZ|           D|              8800.0|
|        AZ|           E|   15334.09090909091|
|        AZ|           F|             21287.5|
|        AZ|           G|             15130.0|
|        CA|           A|  10477.288732394367|
|        CA|           B|   9674.477351916375|
|        CA|           C|  10752.178318135764|
|        CA|           D|  10407.016728624536|
|        CA|           E|   10081.09756097561|
|        CA|           F|   8173.076923076923|
|        CA|           G|             10282.5|
|        CO|           A|   9747.014925373134|
|        CO|           B|  10157.440476190477|
|        CO|           C|   10236.61971830986|
|        CO|           D|              8980.0|
|        CO|           E|             9773.75|
|        CO|           F|   4958.333333333333|
|        CO|           G|             10875.0|
|        CT|           A|  10063.563829787234|
|        CT|           B|  10362.592592592593|
|        CT|           C|         11947.65625|
|        CT|           D|   9117.692307692309|
|        CT|           E|  13393.421052631578|
|        CT|           F|              9335.0|
|        DC|           A|   9460.526315789473|
|        DC|           B|  11361.904761904761|
|        DC|           C|   10380.76923076923|
|        DC|           D|              7580.0|
|        DC|           E|             12900.0|
|        DC|           F|             25900.0|
|        DE|           A|              9800.0|
|        DE|           B|    9565.78947368421|
|        DE|           C|   7430.555555555556|
|        DE|           D|   8927.083333333334|
|        DE|           E|             14500.0|
|        FL|           A|  11197.344110854503|
|        FL|           B|   9313.468309859154|
|        FL|           C|   9550.636672325976|
|        FL|           D|   9193.968531468532|
|        FL|           E|   9698.684210526315|
|        FL|           F|  13447.727272727272|
|        FL|           G|  2746.4285714285716|
|        GA|           A|   9565.497076023392|
|        GA|           B|   9823.992673992674|
|        GA|           C|  11873.684210526315|
|        GA|           D|   9349.809160305344|
|        GA|           E|  11342.857142857143|
|        GA|           F|    8366.07142857143|
|        GA|           G|   5070.833333333333|
|        HI|           A|             12287.5|
|        HI|           B|          13104.6875|
|        HI|           C|  12351.595744680852|
|        HI|           D|  15204.411764705883|
|        HI|           E|             14840.0|
|        HI|           G|              9925.0|
|        ID|           A|  23308.333333333332|
|        ID|           B|   8269.047619047618|
|        ID|           C|  11516.666666666666|
|        ID|           D|           11234.375|
|        ID|           E|                 0.0|
|        IL|           A|  12080.081300813008|
|        IL|           B|  10303.322784810127|
|        IL|           C|  10131.707317073171|
|        IL|           D|   9461.870503597122|
|        IL|           E|  10198.809523809523|
|        IL|           F|  10732.608695652174|
|        IL|           G|             10400.0|
|        IN|           A|   9921.111111111111|
|        IN|           B|   10474.09420289855|
|        IN|           C|   9004.273504273504|
|        IN|           D|  10734.677419354839|
|        IN|           E|  16986.363636363636|
|        IN|           F|              7625.0|
|        IN|           G|             22875.0|
|        KS|           A|  11258.139534883721|
|        KS|           B|  10041.549295774648|
|        KS|           C|   8822.972972972973|
|        KS|           D|  10639.583333333334|
|        KS|           E|              8175.0|
|        KS|           F|             13490.0|
|        KY|           A|    8779.38596491228|
|        KY|           B|  10326.712328767124|
|        KY|           C|    9729.36507936508|
|        KY|           D|  10507.142857142857|
|        KY|           E|    8621.42857142857|
|        KY|           F|              8825.0|
|        LA|           A|  8077.4390243902435|
|        LA|           B|    9456.79012345679|
|        LA|           C|  10204.216867469879|
|        LA|           D|  11135.365853658537|
|        LA|           E|  16378.260869565218|
|        LA|           F|   5083.333333333333|
|        LA|           G|              1025.0|
|        MA|           A|   9360.839160839161|
|        MA|           B|   10167.42857142857|
|        MA|           C|  10772.826086956522|
|        MA|           D|   7592.013888888889|
|        MA|           E|           9385.9375|
|        MA|           F|              4545.0|
|        MA|           G|              7000.0|
|        MD|           A|  11054.583333333334|
|        MD|           B|  10355.031446540881|
|        MD|           C|   9475.454545454546|
|        MD|           D|   9985.326086956522|
|        MD|           E|    9830.30303030303|
|        MD|           F|             10237.5|
|        MD|           G|   9716.666666666666|
|        ME|           A|   11778.57142857143|
|        ME|           B|   7823.529411764706|
|        ME|           C|   11009.09090909091|
|        ME|           D|   8114.285714285715|
|        ME|           E|             10162.5|
|        MI|           A|   8946.621621621622|
|        MI|           B|   9063.316582914573|
|        MI|           C|   9983.064516129032|
|        MI|           D|  10055.140186915887|
|        MI|           E|   13860.60606060606|
|        MI|           F|             10450.0|
|        MI|           G|             13062.5|
|        MN|           A|  11588.659793814433|
|        MN|           B|   9101.584507042253|
|        MN|           C|  10158.064516129032|
|        MN|           D|   9356.716417910447|
|        MN|           E|   11534.48275862069|
|        MN|           F|             18850.0|
|        MN|           G|              6500.0|
|        MO|           A|   9476.851851851852|
|        MO|           B|   9850.943396226416|
|        MO|           C|  10805.140186915887|
|        MO|           D|   9591.981132075472|
|        MO|           E|    8964.70588235294|
|        MO|           F|              6075.0|
|        MS|           A|  13392.307692307691|
|        MS|           B|  10922.340425531915|
|        MS|           C|  7615.8536585365855|
|        MS|           D|  11432.758620689656|
|        MS|           E|  13255.555555555555|
|        MT|           A|  11030.357142857143|
|        MT|           B|              9625.0|
|        MT|           C|              7537.5|
|        MT|           D|   9561.111111111111|
|        MT|           E|              5500.0|
|        NC|           A|  10656.976744186046|
|        NC|           B|   9407.035175879397|
|        NC|           C|             10787.5|
|        NC|           D|  10904.040404040405|
|        NC|           E|  10693.055555555555|
|        NC|           F|              7495.0|
|        NC|           G|              1325.0|
|        ND|           A|  10981.818181818182|
|        ND|           B|            15721.25|
|        ND|           C|   10428.57142857143|
|        ND|           D|   13646.42857142857|
|        NE|           A|   6880.357142857143|
|        NE|           B|   9327.586206896553|
|        NE|           C|  11155.172413793103|
|        NE|           D|  12113.888888888889|
|        NE|           E|              4050.0|
|        NH|           A|   6776.470588235294|
|        NH|           B|              8137.5|
|        NH|           C|  11018.918918918918|
|        NH|           D|  16011.538461538461|
|        NH|           E|  10733.333333333334|
|        NH|           F|             21400.0|
|        NJ|           A|  11761.374407582938|
|        NJ|           B|  10358.803986710964|
|        NJ|           C|  10450.964912280702|
|        NJ|           D|  11642.700729927008|
|        NJ|           E|  11423.404255319148|
|        NJ|           F|            13356.25|
|        NJ|           G|             8643.75|
|        NM|           A|  10401.724137931034|
|        NM|           B|  10582.978723404256|
|        NM|           C|  10726.744186046511|
|        NM|           D|   9111.764705882353|
|        NM|           E|   9791.666666666666|
|        NM|           F|  11691.666666666666|
|        NV|           A|   9532.183908045978|
|        NV|           B|  10745.454545454546|
|        NV|           C|   9208.413461538461|
|        NV|           D|   9616.949152542373|
|        NV|           E|  10522.727272727272|
|        NV|           F|             15162.5|
|        NY|           A|   10871.41304347826|
|        NY|           B|  10364.120715350224|
|        NY|           C|  10833.751962323391|
|        NY|           D|  10101.650165016501|
|        NY|           E|  10517.619047619048|
|        NY|           F|   9321.052631578947|
|        NY|           G|              4375.0|
|        OH|           A|   9816.988950276243|
|        OH|           B|   9780.138339920948|
|        OH|           C|   9436.678832116788|
|        OH|           D|  10515.298507462687|
|        OH|           E|              9212.5|
|        OH|           F|             13350.0|
|        OH|           G|              2425.0|
|        OK|           A|  10264.285714285714|
|        OK|           B|    8869.69696969697|
|        OK|           C|  12523.846153846154|
|        OK|           D|   8569.886363636364|
|        OK|           E|             12595.0|
|        OK|           F|             12215.0|
|        OK|           G|              6450.0|
|        OR|           A|             10730.0|
|        OR|           B|   9776.630434782608|
|        OR|           C|   9458.602150537634|
|        OR|           D|  11157.608695652174|
|        OR|           E|  12636.111111111111|
|        OR|           F|             16437.5|
|        OR|           G|             27525.0|
|        PA|           A|  10641.538461538461|
|        PA|           B|  10270.787545787545|
|        PA|           C|  10245.035460992907|
|        PA|           D|  10607.751937984496|
|        PA|           E|   9102.272727272728|
|        PA|           F|   9911.363636363636|
|        PA|           G|              5000.0|
|        RI|           A|   8251.851851851852|
|        RI|           B|           8842.1875|
|        RI|           C|  13510.344827586207|
|        RI|           D|             10237.5|
|        RI|           E|             17285.0|
|        SC|           A|  11066.197183098591|
|        SC|           B|  12378.611111111111|
|        SC|           C|   9013.829787234043|
|        SC|           D|   8910.267857142857|
|        SC|           E|   11796.42857142857|
|        SC|           F|              7512.5|
|        SD|           A|   6285.294117647059|
|        SD|           B|            10766.25|
|        SD|           C|   12590.90909090909|
|        SD|           D|  14177.272727272728|
|        SD|           E|              8200.0|
|        TN|           A|   9956.043956043955|
|        TN|           B|  10167.824074074075|
|        TN|           C|   7858.669354838709|
|        TN|           D|   9252.142857142857|
|        TN|           E|              6933.0|
|        TN|           F|             12160.0|
|        TN|           G|             23975.0|
|        TX|           A|  11023.711340206186|
|        TX|           B|  10192.433234421365|
|        TX|           C|  10832.104454685099|
|        TX|           D|  12519.561933534744|
|        TX|           E|  11789.772727272728|
|        TX|           F|             10016.0|
|        TX|           G|  11226.470588235294|
|        UT|           A|   9358.536585365853|
|        UT|           B|  10111.224489795919|
|        UT|           C|  10105.434782608696|
|        UT|           D|             15612.5|
|        UT|           E|   6104.166666666667|
|        UT|           F|             11750.0|
|        VA|           A|              8887.5|
|        VA|           B|  11745.283018867925|
|        VA|           C|  11358.994708994709|
|        VA|           D|        10704.296875|
|        VA|           E|   10530.76923076923|
|        VA|           F|   7692.857142857143|
|        VT|           A|   6283.928571428572|
|        VT|           B|   4638.636363636364|
|        VT|           C|   7758.333333333333|
|        VT|           D|   9307.142857142857|
|        VT|           F|             14500.0|
|        WA|           A|  11507.203389830509|
|        WA|           B|   9666.006097560976|
|        WA|           C|  10446.964285714286|
|        WA|           D|  10120.138888888889|
|        WA|           E|  11158.870967741936|
|        WA|           F|             12675.0|
|        WA|           G|             12800.0|
|        WI|           A|  11241.954022988506|
|        WI|           B|  12814.423076923076|
|        WI|           C|   9903.645833333334|
|        WI|           D|            8188.125|
|        WI|           E|             14857.5|
|        WI|           F|              7650.0|
|        WV|           A|              8100.0|
|        WV|           B|             8468.75|
|        WV|           C|   10790.78947368421|
|        WV|           D|   12236.95652173913|
|        WV|           E|              9835.0|
|        WY|           A|   15428.57142857143|
|        WY|           B|  12261.666666666666|
|        WY|           C|  15777.083333333334|
|        WY|           D|            14943.75|
+----------+------------+--------------------+

#### Spark Query

In [84]:
q5_spark = df_encoded.filter(col("prev_loan_amount_same_state_grade").isNotNull()).groupBy("addr_state", "letter_grade")\
                    .agg(fn.avg(fn.abs(col("loan_amount") - col("prev_loan_amount_same_state_grade"))).alias("avg_loan_amount_diff"))\
                    .orderBy("addr_state", "letter_grade")


q5_spark.show(350)

+----------+------------+--------------------+
|addr_state|letter_grade|avg_loan_amount_diff|
+----------+------------+--------------------+
|        AK|           A|   6164.285714285715|
|        AK|           B|  12660.227272727272|
|        AK|           C|  11964.285714285714|
|        AK|           D|             11175.0|
|        AK|           E|              9500.0|
|        AL|           A|   8478.365384615385|
|        AL|           B|  10426.898734177215|
|        AL|           C|  10857.926829268292|
|        AL|           D|   9186.538461538461|
|        AL|           E|              8290.0|
|        AL|           F|             15200.0|
|        AL|           G|              5075.0|
|        AR|           A|  10522.916666666666|
|        AR|           B|   8684.154929577464|
|        AR|           C|              9157.0|
|        AR|           D|   9905.357142857143|
|        AR|           E|            13093.75|
|        AR|           F|  10033.333333333334|
|        AZ|           A|  10191.860465116279|
|        AZ|           B|  10500.837988826815|
|        AZ|           C|  10395.979899497488|
|        AZ|           D|              8800.0|
|        AZ|           E|   15334.09090909091|
|        AZ|           F|             21287.5|
|        AZ|           G|             15130.0|
|        CA|           A|  10477.288732394367|
|        CA|           B|   9674.477351916375|
|        CA|           C|  10752.178318135764|
|        CA|           D|  10407.016728624536|
|        CA|           E|   10081.09756097561|
|        CA|           F|   8173.076923076923|
|        CA|           G|             10282.5|
|        CO|           A|   9747.014925373134|
|        CO|           B|  10157.440476190477|
|        CO|           C|   10236.61971830986|
|        CO|           D|              8980.0|
|        CO|           E|             9773.75|
|        CO|           F|   4958.333333333333|
|        CO|           G|             10875.0|
|        CT|           A|  10063.563829787234|
|        CT|           B|  10362.592592592593|
|        CT|           C|         11947.65625|
|        CT|           D|   9117.692307692309|
|        CT|           E|  13393.421052631578|
|        CT|           F|              9335.0|
|        DC|           A|   9460.526315789473|
|        DC|           B|  11361.904761904761|
|        DC|           C|   10380.76923076923|
|        DC|           D|              7580.0|
|        DC|           E|             12900.0|
|        DC|           F|             25900.0|
|        DE|           A|              9800.0|
|        DE|           B|    9565.78947368421|
|        DE|           C|   7430.555555555556|
|        DE|           D|   8927.083333333334|
|        DE|           E|             14500.0|
|        FL|           A|  11197.344110854503|
|        FL|           B|   9313.468309859154|
|        FL|           C|   9550.636672325976|
|        FL|           D|   9193.968531468532|
|        FL|           E|   9698.684210526315|
|        FL|           F|  13447.727272727272|
|        FL|           G|  2746.4285714285716|
|        GA|           A|   9565.497076023392|
|        GA|           B|   9823.992673992674|
|        GA|           C|  11873.684210526315|
|        GA|           D|   9349.809160305344|
|        GA|           E|  11342.857142857143|
|        GA|           F|    8366.07142857143|
|        GA|           G|   5070.833333333333|
|        HI|           A|             12287.5|
|        HI|           B|          13104.6875|
|        HI|           C|  12351.595744680852|
|        HI|           D|  15204.411764705883|
|        HI|           E|             14840.0|
|        HI|           G|              9925.0|
|        ID|           A|  23308.333333333332|
|        ID|           B|   8269.047619047618|
|        ID|           C|  11516.666666666666|
|        ID|           D|           11234.375|
|        ID|           E|                 0.0|
|        IL|           A|  12080.081300813008|
|        IL|           B|  10303.322784810127|
|        IL|           C|  10131.707317073171|
|        IL|           D|   9461.870503597122|
|        IL|           E|  10198.809523809523|
|        IL|           F|  10732.608695652174|
|        IL|           G|             10400.0|
|        IN|           A|   9921.111111111111|
|        IN|           B|   10474.09420289855|
|        IN|           C|   9004.273504273504|
|        IN|           D|  10734.677419354839|
|        IN|           E|  16986.363636363636|
|        IN|           F|              7625.0|
|        IN|           G|             22875.0|
|        KS|           A|  11258.139534883721|
|        KS|           B|  10041.549295774648|
|        KS|           C|   8822.972972972973|
|        KS|           D|  10639.583333333334|
|        KS|           E|              8175.0|
|        KS|           F|             13490.0|
|        KY|           A|    8779.38596491228|
|        KY|           B|  10326.712328767124|
|        KY|           C|    9729.36507936508|
|        KY|           D|  10507.142857142857|
|        KY|           E|    8621.42857142857|
|        KY|           F|              8825.0|
|        LA|           A|  8077.4390243902435|
|        LA|           B|    9456.79012345679|
|        LA|           C|  10204.216867469879|
|        LA|           D|  11135.365853658537|
|        LA|           E|  16378.260869565218|
|        LA|           F|   5083.333333333333|
|        LA|           G|              1025.0|
|        MA|           A|   9360.839160839161|
|        MA|           B|   10167.42857142857|
|        MA|           C|  10772.826086956522|
|        MA|           D|   7592.013888888889|
|        MA|           E|           9385.9375|
|        MA|           F|              4545.0|
|        MA|           G|              7000.0|
|        MD|           A|  11054.583333333334|
|        MD|           B|  10355.031446540881|
|        MD|           C|   9475.454545454546|
|        MD|           D|   9985.326086956522|
|        MD|           E|    9830.30303030303|
|        MD|           F|             10237.5|
|        MD|           G|   9716.666666666666|
|        ME|           A|   11778.57142857143|
|        ME|           B|   7823.529411764706|
|        ME|           C|   11009.09090909091|
|        ME|           D|   8114.285714285715|
|        ME|           E|             10162.5|
|        MI|           A|   8946.621621621622|
|        MI|           B|   9063.316582914573|
|        MI|           C|   9983.064516129032|
|        MI|           D|  10055.140186915887|
|        MI|           E|   13860.60606060606|
|        MI|           F|             10450.0|
|        MI|           G|             13062.5|
|        MN|           A|  11588.659793814433|
|        MN|           B|   9101.584507042253|
|        MN|           C|  10158.064516129032|
|        MN|           D|   9356.716417910447|
|        MN|           E|   11534.48275862069|
|        MN|           F|             18850.0|
|        MN|           G|              6500.0|
|        MO|           A|   9476.851851851852|
|        MO|           B|   9850.943396226416|
|        MO|           C|  10805.140186915887|
|        MO|           D|   9591.981132075472|
|        MO|           E|    8964.70588235294|
|        MO|           F|              6075.0|
|        MS|           A|  13392.307692307691|
|        MS|           B|  10922.340425531915|
|        MS|           C|  7615.8536585365855|
|        MS|           D|  11432.758620689656|
|        MS|           E|  13255.555555555555|
|        MT|           A|  11030.357142857143|
|        MT|           B|              9625.0|
|        MT|           C|              7537.5|
|        MT|           D|   9561.111111111111|
|        MT|           E|              5500.0|
|        NC|           A|  10656.976744186046|
|        NC|           B|   9407.035175879397|
|        NC|           C|             10787.5|
|        NC|           D|  10904.040404040405|
|        NC|           E|  10693.055555555555|
|        NC|           F|              7495.0|
|        NC|           G|              1325.0|
|        ND|           A|  10981.818181818182|
|        ND|           B|            15721.25|
|        ND|           C|   10428.57142857143|
|        ND|           D|   13646.42857142857|
|        NE|           A|   6880.357142857143|
|        NE|           B|   9327.586206896553|
|        NE|           C|  11155.172413793103|
|        NE|           D|  12113.888888888889|
|        NE|           E|              4050.0|
|        NH|           A|   6776.470588235294|
|        NH|           B|              8137.5|
|        NH|           C|  11018.918918918918|
|        NH|           D|  16011.538461538461|
|        NH|           E|  10733.333333333334|
|        NH|           F|             21400.0|
|        NJ|           A|  11761.374407582938|
|        NJ|           B|  10358.803986710964|
|        NJ|           C|  10450.964912280702|
|        NJ|           D|  11642.700729927008|
|        NJ|           E|  11423.404255319148|
|        NJ|           F|            13356.25|
|        NJ|           G|             8643.75|
|        NM|           A|  10401.724137931034|
|        NM|           B|  10582.978723404256|
|        NM|           C|  10726.744186046511|
|        NM|           D|   9111.764705882353|
|        NM|           E|   9791.666666666666|
|        NM|           F|  11691.666666666666|
|        NV|           A|   9532.183908045978|
|        NV|           B|  10745.454545454546|
|        NV|           C|   9208.413461538461|
|        NV|           D|   9616.949152542373|
|        NV|           E|  10522.727272727272|
|        NV|           F|             15162.5|
|        NY|           A|   10871.41304347826|
|        NY|           B|  10364.120715350224|
|        NY|           C|  10833.751962323391|
|        NY|           D|  10101.650165016501|
|        NY|           E|  10517.619047619048|
|        NY|           F|   9321.052631578947|
|        NY|           G|              4375.0|
|        OH|           A|   9816.988950276243|
|        OH|           B|   9780.138339920948|
|        OH|           C|   9436.678832116788|
|        OH|           D|  10515.298507462687|
|        OH|           E|              9212.5|
|        OH|           F|             13350.0|
|        OH|           G|              2425.0|
|        OK|           A|  10264.285714285714|
|        OK|           B|    8869.69696969697|
|        OK|           C|  12523.846153846154|
|        OK|           D|   8569.886363636364|
|        OK|           E|             12595.0|
|        OK|           F|             12215.0|
|        OK|           G|              6450.0|
|        OR|           A|             10730.0|
|        OR|           B|   9776.630434782608|
|        OR|           C|   9458.602150537634|
|        OR|           D|  11157.608695652174|
|        OR|           E|  12636.111111111111|
|        OR|           F|             16437.5|
|        OR|           G|             27525.0|
|        PA|           A|  10641.538461538461|
|        PA|           B|  10270.787545787545|
|        PA|           C|  10245.035460992907|
|        PA|           D|  10607.751937984496|
|        PA|           E|   9102.272727272728|
|        PA|           F|   9911.363636363636|
|        PA|           G|              5000.0|
|        RI|           A|   8251.851851851852|
|        RI|           B|           8842.1875|
|        RI|           C|  13510.344827586207|
|        RI|           D|             10237.5|
|        RI|           E|             17285.0|
|        SC|           A|  11066.197183098591|
|        SC|           B|  12378.611111111111|
|        SC|           C|   9013.829787234043|
|        SC|           D|   8910.267857142857|
|        SC|           E|   11796.42857142857|
|        SC|           F|              7512.5|
|        SD|           A|   6285.294117647059|
|        SD|           B|            10766.25|
|        SD|           C|   12590.90909090909|
|        SD|           D|  14177.272727272728|
|        SD|           E|              8200.0|
|        TN|           A|   9956.043956043955|
|        TN|           B|  10167.824074074075|
|        TN|           C|   7858.669354838709|
|        TN|           D|   9252.142857142857|
|        TN|           E|              6933.0|
|        TN|           F|             12160.0|
|        TN|           G|             23975.0|
|        TX|           A|  11023.711340206186|
|        TX|           B|  10192.433234421365|
|        TX|           C|  10832.104454685099|
|        TX|           D|  12519.561933534744|
|        TX|           E|  11789.772727272728|
|        TX|           F|             10016.0|
|        TX|           G|  11226.470588235294|
|        UT|           A|   9358.536585365853|
|        UT|           B|  10111.224489795919|
|        UT|           C|  10105.434782608696|
|        UT|           D|             15612.5|
|        UT|           E|   6104.166666666667|
|        UT|           F|             11750.0|
|        VA|           A|              8887.5|
|        VA|           B|  11745.283018867925|
|        VA|           C|  11358.994708994709|
|        VA|           D|        10704.296875|
|        VA|           E|   10530.76923076923|
|        VA|           F|   7692.857142857143|
|        VT|           A|   6283.928571428572|
|        VT|           B|   4638.636363636364|
|        VT|           C|   7758.333333333333|
|        VT|           D|   9307.142857142857|
|        VT|           F|             14500.0|
|        WA|           A|  11507.203389830509|
|        WA|           B|   9666.006097560976|
|        WA|           C|  10446.964285714286|
|        WA|           D|  10120.138888888889|
|        WA|           E|  11158.870967741936|
|        WA|           F|             12675.0|
|        WA|           G|             12800.0|
|        WI|           A|  11241.954022988506|
|        WI|           B|  12814.423076923076|
|        WI|           C|   9903.645833333334|
|        WI|           D|            8188.125|
|        WI|           E|             14857.5|
|        WI|           F|              7650.0|
|        WV|           A|              8100.0|
|        WV|           B|             8468.75|
|        WV|           C|   10790.78947368421|
|        WV|           D|   12236.95652173913|
|        WV|           E|              9835.0|
|        WY|           A|   15428.57142857143|
|        WY|           B|  12261.666666666666|
|        WY|           C|  15777.083333333334|
|        WY|           D|            14943.75|
+----------+------------+--------------------+

In [103]:
df_encoded = df_encoded.repartition(16)

In [104]:
df_encoded.show()

+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
|         customer_id|           emp_title|emp_length|annual_inc|annual_inc_joint|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_direct_pay|type_joint|type_individual|letter_grade|clean_issue_date|prev_loan_date_same_grade|prev_loan_amount_same_grade|prev_loan_date_same_state_grade|prev_loan_amount_same_state_grade|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
|YicuXHhlYn1RNUJce...|             Teacher|      10.0|   60000.0|             0.0|   851xx|        AZ|    14860.0|   237754.0| 216186|    Current|    24000.0|  4.0|      24000.0| 36 months|  0.1102|    9|    19 April 2019|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2019-04-19|               2019-04-19|                    11000.0|                     2019-04-19|                          25000.0|
|YidceGYxXHhhNlx4O...|         Technician |       1.0|  100000.0|             0.0|   286xx|        NC|     5444.0|    65331.0| 205735|    Current|    21000.0| 27.0|      21000.0| 60 months|  0.1106|    6| 18 November 2018|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2018-11-18|               2018-11-18|                    25000.0|                     2018-10-18|                          25000.0|
|YidceGRkTkNtXHhlM...|     Customs analyst|       2.0|   50000.0|             0.0|   480xx|        MI|     2470.0|    14819.0|  67155|    Current|     8000.0| 22.0|       8000.0| 36 months|  0.1308|    8|   19 August 2019|     false|    2.0|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2019-08-19|               2019-08-19|                     2200.0|                     2019-08-19|                          18000.0|
|YidceDFhflx4ZGJce...|                 cna|       6.0|   30000.0|             0.0|   633xx|        MO|    10238.0|    71665.0| 103074| Fully Paid|    10000.0| 24.0|      10000.0| 60 months|  0.1854|   24|  15 January 2015|     false|    3.0|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           E|      2015-01-15|               2015-01-15|                    24000.0|                     2014-11-14|                          20000.0|
|YidceGU0XHgwMFx4O...|     Program Manager|      10.0|  100000.0|             0.0|   604xx|        IL|    16789.0|   285409.0| 205051| Fully Paid|    21000.0| 14.0|      21000.0| 36 months|  0.1199|   10| 13 November 2013|     false|    2.0|       paying it off|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2013-11-13|               2013-11-13|                    20000.0|                     2013-10-13|                          17500.0|
|YidceGQwNkhceDhhX...|Sr Work Managemen...|       7.0|   58000.0|             0.0|   462xx|        IN|     2776.0|    44422.0| 177901|    Current|    18000.0| 15.0|      18000.0| 36 months|  0.1102|    8|     19 July 2019|     false|    2.0|Credit card refin...|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2019-07-19|               2019-07-19|                    27000.0|                     2019-06-19|                          25250.0|
|YidpXHgxN1x4MTg/X...|Director of Digit...|       6.0|  125000.0|             0.0|   606xx|        IL|     3897.0|    31176.0| 177709|    Current|    18000.0| 14.0|      18000.0| 36 months|  0.1047|   10|     18 July 2018|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2018-07-18|               2018-07-18|                    14000.0|                     2018-06-18|                          20000.0|
|YidceGQwXHg4ZVx4O...|    Sales Executive |       6.0|  120000.0|             0.0|   463xx|        LA|    22223.0|   377786.0| 171259| Fully Paid|    16800.0| 18.0|      16800.0| 36 months|  0.1153|   10|    15 April 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2015-04-15|               2015-04-15|                    15000.0|                     2015-02-15|                          20000.0|
|YidaXHgwYlx4ZDZce...|             teacher|      10.0|   90000.0|             0.0|   660xx|        KS|    16472.0|   247086.0|  90527| Fully Paid|    10000.0| 16.0|      10000.0| 36 months|  0.1099|    7|    15 April 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2015-04-15|               2015-04-15|                    25000.0|                     2015-03-15|                           9000.0|
|YidceGM2XHI9TFx4Z...|             Teacher|      10.0|  140000.0|             0.0|   117xx|        NY|    40883.0|   449716.0| 266904|    Current|    40000.0| 34.0|      40000.0| 36 months|     0.0|   10|19 September 2019|     false|    2.0|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2019-09-19|               2019-09-19|                    12000.0|                     2019-09-19|                          35450.0|
|YidHXHhkYmJceGU5X...|   Night supervisor |       3.0|   45000.0|             0.0|   984xx|        WA|     2754.0|    24785.0|   8221| Fully Paid|     2700.0| 47.0|       2700.0| 36 months|  0.1199|    7|   17 August 2017|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2017-08-17|               2017-08-17|                     9600.0|                     2017-08-17|                           9000.0|
|YidkXHg5MEVceGRlZ...|             Teacher|      10.0|   67000.0|             0.0|   577xx|        SD|     6706.0|    67062.0|  66855|    Current|     8000.0| 41.0|       8000.0| 36 months|  0.1273|    6| 18 November 2018|     false|    2.0|Credit card refin...|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2018-11-18|               2018-11-18|                    19000.0|                     2018-10-18|                          40000.0|
|YiduXHgxNDtWaXdce...|Technology specia...|       8.0|  106000.0|             0.0|   774xx|        TX|    46845.0|   608981.0| 155947|    Current|    15000.0| 43.0|      15000.0| 60 months|  0.1273|    9|  18 October 2018|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2018-10-18|               2018-10-18|                    16000.0|                     2018-10-18|                           3000.0|
|YidceGYxXHg4OVx4O...|             Teacher|      10.0|   22000.0|             0.0|   295xx|        SC|     1126.0|    14642.0|  23388|Charged Off|     4800.0| 40.0|       4800.0| 36 months|  0.0917|   10| 15 November 2015|     false|    2.0|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2015-11-15|               2015-11-15|                    22175.0|                     2015-11-15|                          28450.0|
|YidceDlmXHhjZFx4Z...|             Teacher|       0.5|   65000.0|             0.0|   300xx|        GA|    13237.0|   132374.0|  59504|    Current|     7500.0| 11.0|       7500.0| 36 months|   0.124|    9|     19 July 2019|     false|    2.0|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2019-07-19|               2019-07-19|                    35000.0|                     2019-07-19|                          30000.0|
|YicsXHhhZTZceGFjX...|    Registered Nurse|       4.0|   90000.0|             0.0|   380xx|        TN|     2048.0|    40965.0|  78097| Fully Paid|     9450.0| 42.0|       9450.0| 36 months|  0.1849|   21| 15 November 2015|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           E|      2015-11-15|               2015-11-15|                    14375.0|                     2015-11-15|                          35000.0|
|YidceGQ2S1x4Zjhce...|             Teacher|      10.0|   78000.0|             0.0|   921xx|        CA|    71354.0|   570832.0| 135623|Charged Off|    13275.0|  5.0|      13275.0| 36 months|  0.0824|   10|    17 March 2017|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|              0|         0|              1|           B|      2017-03-17|               2017-03-17|                    10000.0|                     2017-03-17|                          10000.0|
|YidceDhiXHg4Ylx4M...|       Sales Manager|       1.0|   80000.0|             0.0|   956xx|        CA|     2876.0|    40261.0| 124540|    Current|    12000.0|  5.0|      12000.0| 60 months|  0.0975|   10| 16 February 2016|     false|    3.0|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2016-02-16|               2016-02-16|                    24000.0|                     2016-02-16|                          10000.0|
|Yid6Rk5CPUBceGI3a...|Administrative As...|      10.0|   75000.0|             0.0|   119xx|        NY|     2308.0|    25393.0| 107558|    Current|    10625.0| 34.0|      10625.0| 60 months|     0.0|    8|19 September 2019|     false|    4.0|    Home improvement|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|              0|         0|              1|           B|      2019-09-19|               2019-09-19|                    10625.0|                     2019-09-19|                          40000.0|
|YidceGJhLlx4YmJUX...|               sales|       3.0|   24000.0|             0.0|   801xx|        CO|     2417.0|     9668.0|  26979| Fully Paid|     5000.0|  6.0|       5000.0| 36 months|  0.0818|    9|  15 October 2015|     false|    3.0|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|              0|         0|              1|           B|      2015-10-15|               2015-10-15|                    10000.0|                     2015-09-15|                          15000.0|
+--------------------+--------------------+----------+----------+----------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+-------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+---------------+----------+---------------+------------+----------------+-------------------------+---------------------------+-------------------------------+---------------------------------+
only showing top 20 rows

In [105]:
df_encoded.rdd.getNumPartitions()

16

In [107]:
lookup_table.show(n = lookup_table.count(), truncate=False)

+----------+------------------+-------+
|Column    |Original          |Encoded|
+----------+------------------+-------+
|emp_length|10+ years         |10.0   |
|emp_length|9 years           |9.0    |
|emp_length|8 years           |8.0    |
|emp_length|7 years           |7.0    |
|emp_length|6 years           |6.0    |
|emp_length|5 years           |5.0    |
|emp_length|4 years           |4.0    |
|emp_length|3 years           |3.0    |
|emp_length|2 years           |2.0    |
|emp_length|1 year            |1.0    |
|emp_length|< 1 year          |0.5    |
|state     |AK                |1.0    |
|state     |AL                |2.0    |
|state     |AR                |3.0    |
|state     |AZ                |4.0    |
|state     |CA                |5.0    |
|state     |CO                |6.0    |
|state     |CT                |7.0    |
|state     |DC                |8.0    |
|state     |DE                |9.0    |
|state     |FL                |10.0   |
|state     |GA                |11.0   |
|state     |HI                |12.0   |
|state     |ID                |13.0   |
|state     |IL                |14.0   |
|state     |IN                |15.0   |
|state     |KS                |16.0   |
|state     |KY                |17.0   |
|state     |LA                |18.0   |
|state     |MA                |19.0   |
|state     |MD                |20.0   |
|state     |ME                |21.0   |
|state     |MI                |22.0   |
|state     |MN                |23.0   |
|state     |MO                |24.0   |
|state     |MS                |25.0   |
|state     |MT                |26.0   |
|state     |NC                |27.0   |
|state     |ND                |28.0   |
|state     |NE                |29.0   |
|state     |NH                |30.0   |
|state     |NJ                |31.0   |
|state     |NM                |32.0   |
|state     |NV                |33.0   |
|state     |NY                |34.0   |
|state     |OH                |35.0   |
|state     |OK                |36.0   |
|state     |OR                |37.0   |
|state     |PA                |38.0   |
|state     |RI                |39.0   |
|state     |SC                |40.0   |
|state     |SD                |41.0   |
|state     |TN                |42.0   |
|state     |TX                |43.0   |
|state     |UT                |44.0   |
|state     |VA                |45.0   |
|state     |VT                |46.0   |
|state     |WA                |47.0   |
|state     |WI                |48.0   |
|state     |WV                |49.0   |
|state     |WY                |50.0   |
|purpose   |car               |1.0    |
|purpose   |credit_card       |2.0    |
|purpose   |debt_consolidation|3.0    |
|purpose   |home_improvement  |4.0    |
|purpose   |house             |5.0    |
|purpose   |major_purchase    |6.0    |
|purpose   |medical           |7.0    |
|purpose   |moving            |8.0    |
|purpose   |other             |9.0    |
|purpose   |renewable_energy  |10.0   |
|purpose   |small_business    |11.0   |
|purpose   |vacation          |12.0   |
|purpose   |wedding           |13.0   |
+----------+------------------+-------+

In [108]:
lookup_table.rdd.getNumPartitions()

16

## Part 6: Saving the Cleaned Dataset and Lookup Table

In [109]:
df_file_path = "fintech_spark_52_14669_clean.parquet"
lookup_table_file_path = "lookup_spark_52_14669.parquet"

df_encoded.write.mode("overwrite").parquet(df_file_path)
lookup_table.write.mode("overwrite").parquet(lookup_table_file_path)

## Bonus: Saving the output into a postgres database

In [110]:
df_pandas = df_encoded.toPandas()

In [111]:
df_pandas.head()

,customer_id,emp_title,emp_length,annual_inc,annual_inc_joint,zip_code,addr_state,avg_cur_bal,tot_cur_bal,loan_id,...,verification_status_not_verified,type_direct_pay,type_joint,type_individual,letter_grade,clean_issue_date,prev_loan_date_same_grade,prev_loan_amount_same_grade,prev_loan_date_same_state_grade,prev_loan_amount_same_state_grade
0,YicuXHhlYn1RNUJceGRiXHhjNFx4ZWRceGFmSTFceGE1XH...,Teacher,10.0,60000.0,0.0,851xx,AZ,14860.0,237754.0,216186,...,1,0,0,1,B,2019-04-19,2019-04-19,11000.0,2019-04-19,25000.0
1,YidceGYxXHhhNlx4OGFceDA1XHhmMVx4YTRceDhmMSp9XH...,Technician,1.0,100000.0,0.0,286xx,NC,5444.0,65331.0,205735,...,0,0,0,1,B,2018-11-18,2018-11-18,25000.0,2018-10-18,25000.0
2,YidceGRkTkNtXHhlMFx4ZjBoXHhjYndcXGBceDE4IFx4MG...,Customs analyst,2.0,50000.0,0.0,480xx,MI,2470.0,14819.0,67155,...,1,0,0,1,B,2019-08-19,2019-08-19,2200.0,2019-08-19,18000.0
3,YidceDFhflx4ZGJceGQ4XHhkMypZO3NDXHhmN1x4ZjkoMV...,cna,6.0,30000.0,0.0,633xx,MO,10238.0,71665.0,103074,...,0,0,0,1,E,2015-01-15,2015-01-15,24000.0,2014-11-14,20000.0
4,YidceGU0XHgwMFx4OTJceDFlbExbXHhhMVVceGNhXHgxM1...,Program Manager,10.0,100000.0,0.0,604xx,IL,16789.0,285409.0,205051,...,0,0,0,1,B,2013-11-13,2013-11-13,20000.0,2013-10-13,17500.0

In [112]:
lookup_table_pandas = lookup_table.toPandas()

In [113]:
lookup_table_pandas.head()

       Column   Original Encoded
0  emp_length  10+ years    10.0
1  emp_length    9 years     9.0
2  emp_length    8 years     8.0
3  emp_length    7 years     7.0
4  emp_length    6 years     6.0

In [114]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres.fvbykscexuguvhyznrqt:vermithor54321@aws-0-eu-central-1.pooler.supabase.com:6543/postgres')

if (engine.connect()):
    print("Connected to database")
else:
    print("Connection failed")

df_pandas.to_sql('fintech_spark_52_14669_clean_table', engine, if_exists='replace', index=False)
lookup_table_pandas.to_sql('lookup_spark_52_14669_table', engine, if_exists='replace', index=False)

Connected to database

74